<app-notification></app-notification>

<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2"
     id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-2.jpg);">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
        <div class="m-login__container">
            <div class="m-login__logo">
                <a href="#">
                    <img style="width: 40%; height: 40%" src="../../../assets/demo/demo7/media/img/logo/nibss.png">
                </a>
            </div>
            <!--Signin user-->
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        Central Mandate Management System
                    </h3>
                    <ng-template #alertSignin></ng-template>
                </div>
                <form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
                    <!--<ng-template #alertSignin></ng-template>-->
                    <div class="form-group">
                        <input class="form-control m-input form-class" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control m-input m-login__form-input--last form-class" id="myInput" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel">
                    <i class="fa fa-eye cursor view-password" (mousedown)="viewPassword()" (mouseup)="passwordMode()"></i>
                    </div>
                    <div class="row m-login__form-sub">
                        <div class="col m--align-left">
                            <label class="m-checkbox m-checkbox--focus">
                                <input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel">
                                Remember me
                                <span></span>
                            </label>
                        </div>
                        <div class="col m--align-right">
                            <a href="javascript:;" id="m_login_forget_password" >
                                Reset Password
                            </a>
                        </div>
                    </div>
                    <div class="m-login__form-action">
                        <button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"
                                id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                            Sign In
                        </button>
                    </div>
                </form>
            </div>

            <!--login with token-->
            <div class="m-login__token" *ngIf="showTokenForm">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        Enter Token
                    </h3>
                    <ng-template #alertEmail></ng-template>
                </div>
                <form (ngSubmit)="f.form.valid && displayTokenForm()" #f="ngForm" class="m-login__form m-form" action="">
                    <div class="form-group">
                        <input class="form-control m-input form-class" type="text" placeholder="Token"
                               name="softToken" [(ngModel)]="model.softToken" #softToken="ngModel" autocomplete="off" id="m_softToken"
                               autocomplete="off">
                    </div>
                    <div class="m-login__form-action">
                        <button [disabled]="loadingToken" [ngClass]="{'m-loader m-loader--right m-loader--light': loadingToken}"
                                class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
                            Submit
                        </button>
                        &nbsp;&nbsp;
                        <button id="m_login_forget_password_cancel" (click)="removeTokenForm()"
                                class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>


            <!--forgot password-->
            <div class="m-login__forget-password" *ngIf="!showTokenForm">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        Reset Password
                    </h3>
                    <ng-template #alertReset></ng-template>
                    <div class="m-login__desc">
                        Enter your email to reset your password:
                    </div>
                </div>
                <form class="m-login__form m-form" action="">
                    <div class="form-group">
                        <input class="form-control m-input form-class" type="text" placeholder="Email" name="reset_email" [(ngModel)]="model.reset_email" #email="ngModel" id="m_email"
                               autocomplete="off">
                    </div>
                    <div class="m-login__form-action">
                        <button [disabled]="loadingReset" [ngClass]="{'m-loader m-loader--right m-loader--light': loadingReset}" id="m_login_forget_password_submit" (click)="recoverPassword()"
                                class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
                            Request
                        </button>
                        &nbsp;&nbsp;
                        <button id="m_login_forget_password_cancel" (click)="removeTokenForm()"
                                class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
