<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                My Profile
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__body">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide">
                            Your Profile
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                <img src="./assets/app/media/img/users/user4.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="m-card-profile__details" *ngIf="user">
							<span class="m-card-profile__name">
								{{user?.name?.lastName}} {{user?.name?.firstName}} {{user?.name?.middleName}}
							</span>
                            <a class="m-card-profile__email m-link font-weight-bold">
                                {{user?.emailAddress}}
                            </a>
                            <a class="m-card-profile__email m-link font-weight-bold">
                                {{user?.roles[0]['name'] | removeUnderscore}}
                            </a><br/>
                            <a class="m-card-profile__email m-link font-weight-bold">
                                {{user?.userBank?.name}}
                            </a>
                            <a class="m-card-profile__email m-link font-weight-bold">
                                {{user?.biller?.name}}
                            </a><br/>
                            <a class="m-card-profile__email m-link font-weight-bold">
                                {{user?.biller?.bank?.name}}
                            </a><br/>
                        </div>
                    </div>
                    <!--<ul class="m-nav m-nav&#45;&#45;hover-bg m-portlet-fit&#45;&#45;sides">
                        <li class="m-nav__separator m-nav__separator&#45;&#45;fit"></li>
                        <li class="m-nav__section m&#45;&#45;hide">
                            <span class="m-nav__section-text">
                                Section
                            </span>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                <span class="m-nav__link-title">
                                    <span class="m-nav__link-wrap">
                                        <span class="m-nav__link-text">
                                            My Profile
                                        </span>
                                        <span class="m-nav__link-badge">
                                            <span class="m-badge m-badge&#45;&#45;success">
                                                2
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
                                    Activity
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
                                    Messages
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-graphic-2"></i>
                                <span class="m-nav__link-text">
                                    Sales
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-time-3"></i>
                                <span class="m-nav__link-text">
                                    Events
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                <span class="m-nav__link-text">
                                    Support
                                </span>
                            </a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                            role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" [ngClass]="(this.user['change_password'] || showResetEmandate)?'': 'active'"
                                   data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" [ngClass]="user['change_password']?'active': ''"
                                   data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                    Change Password
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" [ngClass]="showResetEmandate?'active': ''"
                                   data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                    Emandate Reset
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" [ngClass]="(this.user['change_password'] || showResetEmandate)?'': 'active'" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body" *ngIf="user">
                                <div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <!--<h3 class="m-form__section">
                                            1. Personal Details
                                        </h3>-->
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Last Name
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" [value]="user?.name?.lastName"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        First Name
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" [value]="user?.name?.firstName"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Middle Name
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" [value]="user?.name?.middleName"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Email
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" [value]="user?.emailAddress"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Phone
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" [value]="user?.phoneNumber"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        User Role
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text"
                                               [value]="user?.roles[0]?.name | removeUnderscore" readonly>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        User Type
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text"
                                               [value]="user?.roles[0]?.userType" readonly>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" [ngClass]="user['change_password']?'active': ''" id="m_user_profile_tab_2">
                        <form [formGroup]="form" class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Old Password
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="password" formControlName="password">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        New Password
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="password"
                                               formControlName="newPassword">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Confirm Password
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="password"
                                               (change)="getConfirmPassword($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button [disabled]="form.invalid || loader" (click)="save()"
                                                    class="btn btn-success m-btn m-btn--air m-btn--custom">
                                                <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>Save changes
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset"
                                                    class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" [ngClass]="showResetEmandate?'active': ''" id="m_user_profile_tab_3">
                        <form *ngIf="!newEmandatePassword" [formGroup]="formRecover" class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Recovery Code
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" formControlName="recoveryCode">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button [disabled]="formRecover.invalid || loader" (click)="postRecoverCode()"
                                                    class="btn btn-success m-btn m-btn--air m-btn--custom">
                                                <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>Save changes
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset"
                                                    class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form *ngIf="newEmandatePassword" [formGroup]="formEmandatePassword" class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        New Emandate Password
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" formControlName="password">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button [disabled]="formEmandatePassword.invalid || loader" (click)="postEmandatePassword()"
                                                    class="btn btn-success m-btn m-btn--air m-btn--custom">
                                                <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>Save changes
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset"
                                                    class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
