<!--reason Modal-->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal3">
                    <span>Reason For Disapproving</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <form [formGroup]='formReason'>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" formControlName="reason" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close" [disabled]="formReason.invalid"
                        (click)="disapprove()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadAction && approvalType === 'disapprove'"></i>
                    Disapprove
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>Search</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormSearch">
                    <div class="row">
                        <div class="col-md-4">
                                    <div><label>Product Name</label></div>
                                        <input class="form-control m-input" formControlName="productName"
                                               placeholder="Enter Product Name" type="text"
                                               autocomplete="off">
                        </div>
                        <div class="col-md-4">
                                    <div><label>Biller Name</label></div>
                                    <input class="form-control m-input" formControlName="billerName"
                                           placeholder="Enter Biller Name" type="text"
                                           autocomplete="off">
                        </div>
                        <div class="col-md-4">
                                    <div><label>Status</label></div>
                                    <select class="form-control m-input" formControlName="activated">
                                        <option value="">Select Status</option>
                                        <option value="true"> Active</option>
                                        <option value="false"> Inactive</option>
                                    </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" (click)="searchMethod(0)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.loadingSearch"></i>Search
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-padding">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4"><label><span class="compulsory-field">*</span>
                                    Product Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" formControlName="name"
                                           placeholder="Enter Product Name" type="text"
                                           autocomplete="off">
                                    <div *ngIf="(createForm.get('name').invalid && createForm.get('name').touched )"
                                         class="alert alert-danger text-center">
                                        Product Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="compulsory-field">*</span>
                                    Amount</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" formControlName="amount"
                                           placeholder="Enter Amount" type="number"
                                           autocomplete="off">
                                    <div *ngIf="(createForm.get('amount').invalid && createForm.get('amount').touched )"
                                         class="alert alert-danger text-center">
                                        Amount is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="compulsory-field">*</span>
                                    Product Description</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <textarea class="form-control" autocomplete="off" formControlName="description">
                                    </textarea>
                                    <div *ngIf="(createForm.get('description').invalid && createForm.get('description').touched )"
                                         class="alert alert-danger text-center">
                                        Product Description is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" *ngIf="submit_type === 'Submit'" (click)="create()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.submitLoader"></i>Submit
                </button>
                <button type="button" *ngIf="submit_type === 'Update'" (click)="update()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loader"></i>Update
                </button>
            </div>
        </div>
    </div>
</div>

<!--view Modal-->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal2">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <table class="table table-striped">
                        <tr>
                            <td>Name</td>
                            <td>{{list.details?.name}}</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{list.details?.amount}}</td>
                        </tr>
                        <tr>
                            <td>Biller</td>
                            <td>{{list.details?.biller?.name}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{list.details?.description}}</td>
                        </tr>
                        <tr>
                            <td>Date Created</td>
                            <td>{{list.details?.createdAt | date}}</td>
                        </tr>
                        <tr>
                            <td>Date Updated</td>
                            <td>{{list.details?.updatedAt | date}}</td>
                        </tr>
                        <tr *ngIf="approvalStatus !== ''">
                            <td>Authorization</td>
                            <td>{{list.details?.authorizationStatus | removeUnderscore | firstLetterTopUpperCase}}</td>
                        </tr>
                        <tr *ngIf="approvalStatus === 'Disapproved'">
                            <td>Reason</td>
                            <td>{{list.details?.reason}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="m-subheader" appunwraptag="" *ngIf="details">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator"
                (click)="details?.userType === 'BILLER'? getMainPageByBiller() : getMainPage()">
                {{moduleName}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title" *ngIf="details">
                            <h3 class="m-portlet__head-text cursor" (click)="getMainPageByBiller()"
                                *ngIf="details?.userType === 'BILLER'">
                                <span *ngIf="approvalStatus !== ''">{{approvalStatus | transformtext}}</span> <span
                                    *ngIf="approvalStatus === ''">{{moduleName}}</span>
                            </h3>
                            <h3 class="m-portlet__head-text cursor" (click)="getMainPage()"
                                *ngIf="details?.userType !== 'BILLER'">
                                <span *ngIf="approvalStatus !== ''">{{approvalStatus | transformtext}}</span> <span
                                    *ngIf="approvalStatus === ''">{{moduleName}}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-info btn-sm">Export Options</button>
                                    <!--<a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>-->
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <!--<li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()"
                                                               *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export all pages to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()"
                                                               *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to CSV
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">Export all pages to CSV</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="margin-approval">
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Approved' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-success"
                                (click)="getParam(approvalName+'/approved')">
                            Approved
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Pending' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-warning"
                                (click)="getParam(approvalName+'/pending')">
                            Pending
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Disapproved' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-danger"
                                (click)="getParam(approvalName+'/disapproved')">
                            Disapproved
                        </button>
                        <button class="btn btn-success float-right create-search-style"
                                *ngIf="booleans.initiator && approvalStatus === ''"
                                (click)="openModal()">Create
                        </button>
                        <button class="btn btn-outline-primary float-right" (click)="getSearchModal()">Search</button>
                    </div>

                    <div class="page-size">
                        <select class="m-input" (change)="onChangePageSize($event)">
                            <option *ngFor="let data of pagesizeArray">{{data}}</option>
                        </select>
                        <span> records per page</span>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Biller</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: pagesize,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.name}}</td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.biller?.name}}</td>
                            <td>{{data?.createdAt}}</td>
                            <td *ngIf="booleans?.initiator && approvalStatus === ''">
                                <switch
                                        [status]="data?.activated"
                                        [onText]="data?.activated?'Active':'Inactive'"
                                        [offText]="data?.activated?'Active':'Inactive'"
                                        [onColor]="data?.activated?'green':'red'"
                                        [offColor]="data?.activated?'green':'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="toggle(data)">
                                </switch>
                            </td>
                            <td *ngIf="booleans.authorizer || approvalStatus !== '' || (!booleans?.initiator && !booleans?.authorizer)">
                                <label class="badge badge-danger" *ngIf="!data?.activated">Inactive</label>
                                <label class="badge badge-success" *ngIf="data?.activated">Active</label>
                            </td>
                            <td>
                                <button *ngIf="booleans.initiator && (approvalStatus === '' || (approvalStatus === 'Disapproved' && data?.authorizationStatus ==='CREATION_REJECTED'))"
                                        type="button"
                                        placement="bottom"
                                        ngbTooltip="Edit Detail" (click)="edit(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-success" ngbTooltip="Approve"
                                        placement="bottom" *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="approve(data?.id, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'approve' && data.id === id"></i>
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ngbTooltip="Reject" placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="getReason(data, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'disapprove' && data.id === id"></i>
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <button type="button"
                                        ngbTooltip="View Detail"
                                        placement="bottom"
                                        (click)="view(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0">
                                <i class="fa fa-spinner fa-spin"></i> loading Product(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls
                            (pageChange)="(approvalStatus === '')?getPage($event): getApprovalPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
