<app-notification></app-notification>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2"
     id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-2.jpg);">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
        <div class="m-login__container">
            <div class="m-login__logo">
                <a href="#">
                    <img style="width: 40%; height: 40%" src="../../../assets/demo/demo7/media/img/logo/nibss.png">
                </a>
            </div>
            <!--Signin user-->
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        Central Mandate Management System
                    </h3>
                    <ng-template #alertPasswordChange></ng-template>
                    <div class="m-login__desc">
                        Password Reset
                    </div>
                </div>
                <form (ngSubmit)="f.form.valid && passwordChange()" #f="ngForm" class="m-login__form m-form" action="">
                    <div class="form-group m-form__group">
                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="New Password" name="newPassword" [(ngModel)]="model.newPassword" #password="ngModel">
                    </div>
                    <div class="form-group m-form__group">
                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="model.confirmPassword" #password="ngModel">
                    </div>
                    <div class="m-login__form-action">
                        <button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"
                                id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                            Reset
                        </button>
                        <button routerLink="/login"
                                id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                            Login Page
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
