<!--<app-sharing-formular></app-sharing-formular>-->

<!--reason Modal-->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal3">
                    <span>Reason For Disapproving</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <form [formGroup]='formReason'>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" formControlName="reason" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close" [disabled]="formReason.invalid"
                        (click)="disapprove()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadAction && approvalType === 'disapprove'"></i>
                    Disapprove
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<app-setupEmandate [billerData]="billerdata"></app-setupEmandate>


<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span>
                    <span *ngIf="booleans.showBillSetup">{{moduleName}}</span>
                    <span *ngIf="!booleans.showBillSetup">Fees</span>
                </h3>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
                <button type="button" *ngIf="booleans.showBillSetup && submit_type === 'Update'" (click)="setup(false)"
                        class="btn btn-outline-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Billing Setup
                </button>
                <button type="button" *ngIf="!booleans.showBillSetup" (click)="setup(true)"
                        class="btn btn-outline-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Biller Setup
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="booleans.showBillSetup">
                    <form [formGroup]="createForm">
                        <div class="row" *ngIf="details">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4"><label><span class="star">*</span>Biller
                                        &nbsp;Name</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-8">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Biller  Name"
                                               formControlName="name"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('name').invalid && createForm.get('name').touched"
                                             class="alert alert-danger text-center">
                                            Biller name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label><span
                                            class="star">*</span>RC&nbsp;Number</label></div>
                                    <div class="form-group m-form__group col-md-8">
                                        <input class="form-control m-input" type="text"
                                               placeholder="RC Number"
                                               formControlName="rcNumber"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('rcNumber').invalid && createForm.get('rcNumber').touched"
                                             class="alert alert-danger text-center">
                                            <span *ngIf="createForm?.value?.rcNumber?.length > 0">Number is Required</span>
                                            <span *ngIf="createForm?.value?.rcNumber?.length === 0">RC&nbsp;Number is Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label><span class="star">*</span>Category</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-8">
                                        <angular2-multiselect [data]="itemListIndustry"
                                                              [settings]="settingsIndustry"
                                                              formControlName="industry">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label><span class="star">*</span>BVN</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-8">
                                        <input class="form-control m-input"
                                               type="text" placeholder="BVN"
                                               formControlName="bvn"
                                               minlength="11"
                                               maxlength="11"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('bvn').invalid && createForm.get('bvn').touched"
                                             class="alert alert-danger text-center">
                                            <span *ngIf="createForm?.value?.bvn?.length > 0">11 digit number is Required</span>
                                            <span *ngIf="createForm?.value?.bvn?.length === 0">BVN is Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label><span class="star">*</span> Biller Type</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-8">
                                        <table class="table">
                                            <tr>
                                                <td><label>Biller</label></td>
                                                <td><input type="radio" placeholder="code"
                                                           formControlName="selfBiller" name="selfBiller"
                                                           [value]="false">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label>{{details?.userType | firstLetterTopUpperCase}}
                                                    Biller</label>
                                                </td>
                                                <td>
                                                    <div class="form-group m-form__group">
                                                        <input type="radio" placeholder="code" name="selfBiller"
                                                               formControlName="selfBiller" [value]="true">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6" *ngIf="details">
                                <div class="row" *ngIf="details?.userType !== 'BANK'">
                                    <div class="col-md-4"><label><span class="star">*</span>Introducing
                                        Bank</label></div>
                                    <div class="form-group m-form__group col-md-8">
                                        <!--<span *ngIf="submit_type === 'Update'">{{list.details?.bank?.name}}</span>-->
                                        <span>
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                   </span>
                                        <div *ngIf="booleans.loadBank" class="alert alert-warning text-center">
                                            <i class="fa fa-spin fa-spinner"></i> Loading Bank(s)
                                        </div>
                                    </div>
                                </div>
                                <div class="row"
                                     *ngIf="(createForm.value['bank'] && createForm.value['bank'][0] && createForm.value['bank'][0]['id'])">
                                    <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-8">
                                        <input class="form-control m-input"
                                               type="text" placeholder="Account Number"
                                               formControlName="accountNumber"
                                               maxlength="10"
                                               minlength="10"
                                               (keyup)="keyupAccountNumberBiller()"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('accountNumber').invalid && !list.accountResult?.accountName && createForm.get('accountNumber').touched"
                                             class="alert alert-danger text-center">
                                            <span *ngIf="createForm?.value?.accountNumber?.length > 0">Number is Required</span>
                                            <span *ngIf="createForm?.value?.accountNumber?.length <= 0">Account Number is Required</span>
                                        </div>
                                        <div *ngIf="createForm?.value?.accountNumber?.length === 10 && booleans.acountloaderBiller"
                                             class="alert alert-warning text-center">
                                            <i class="fa fa-spinner fa-spin"></i> Checking Account Number
                                        </div>
                                        <!--<div *ngIf="createForm.value['accountNumber'] && createForm.value['accountNumber']?.length ===10 && createForm.value['accountNumber'].length ===10 && list.accountResult?.accountName && !booleans.acountloader"
                                             class="alert alert-success text-center">
                                            {{list.accountResult?.accountName}}
                                        </div>-->
                                        <div *ngIf="createForm.value['accountNumber'] && !list.accountResultBiller?.accountName && createForm?.value?.accountNumber?.length === 10 && isInteger && !booleans.acountloaderBiller"
                                             class="alert alert-danger text-center">
                                            Account Number does not exist
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="list.accountResultBiller?.accountName">
                                    <div class="col-md-4"><label><span
                                            class="star">*</span>Account&nbsp;Name</label></div>
                                    <div class="form-group m-form__group col-md-8">
                                        <input class="form-control m-input"
                                               type="text" placeholder="Account Name"
                                               formControlName="accountName"
                                               readonly=true
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('accountName').invalid && createForm.get('accountName').touched"
                                             class="alert alert-danger text-center">
                                            Account Name is Required
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="row">
                                    <div class="col-md-4"><label>Domain Name</label></div>
                                    <div class="form-group m-form__group col-md-8">
                                        <input class="form-control m-input"
                                               type="text" placeholder="Domain Name"
                                               formControlName="domainName"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('domainName').invalid && createForm.get('domainName').touched"
                                             class="alert alert-danger text-center">
                                            Domain Name is Required
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-4"><label><span class="star">*</span>Description</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-8">
                                                <textarea class="form-control m-input"
                                                          formControlName="description"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="!booleans.showBillSetup">
                    <form [formGroup]="createFormBearer">
                        <div class="row">
                            <div class="col-md-4"><label><span class="star">*</span>MarkUp Fee</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <select class="form-control m-input" (change)="onSelect($event)"
                                        type="text"
                                        formControlName="markUpFeeSelected"
                                        autocomplete="off">
                                    <option></option>
                                    <option value="true">YES</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                        </div>

                        <span *ngIf="booleans.markUpFeeSelected === true">
                        <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Bearer</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <angular2-multiselect [data]="itemListBearer"
                                                  [settings]="settingsBearer"
                                                  formControlName="feeBearerItem"
                                                  (onSelect)="onItemSelectBearer($event)"
                                                  (onDeSelect)="OnItemDeSelectBearer($event)"
                                                  (onSelectAll)="onSelectAllBearer($event)"
                                                  (onDeSelectAll)="onDeSelectAllBearer($event)">
                            </angular2-multiselect>
                        </div>
                    </div>

                    <div class="row"
                         *ngIf="bearerType === 'Biller' || (createFormBearer['value']['feeBearerItem'] && createFormBearer['value']['feeBearerItem'][0] && (createFormBearer['value']['feeBearerItem'][0]['id'] === 'Biller' || createFormBearer['value']['feeBearerItem'][0]['id'] === 'BILLER'))">
                        <div class="col-md-4"></div>
                        <div class="form-group m-form__group col-md-8">
                            <input class=" m-input"
                                   type="checkbox"
                                   formControlName="debitAtTransactionTime"
                                   value="true"
                                   autocomplete="off"
                                   (change)="onTransactionType()">
                            <label>Do not debit at transaction time</label>
                        </div>
                    </div>

                                    <div class="row" *ngIf="showAmount && bearerType === 'Biller' &&
                         (createFormBearer['value']['debitAtTransactionTime'] &&
                          createFormBearer['value']['debitAtTransactionTime'] === true)">
                            <div class="col-md-4"><label><span class="star">*</span>Biller Debit Bank</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <span>
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="billerDebitbank">
                                    </angular2-multiselect>
                                   </span>
                            </div>
                        </div>


                                    <div class="row"
                                         *ngIf="(createFormBearer['value']['billerDebitAccountNumber'] && createFormBearer['value']['billerDebitAccountNumber'] !=='')||(createFormBearer['value']['billerDebitbank'] &&
                                          createFormBearer['value']['billerDebitbank'][0] &&
                                          createFormBearer['value']['billerDebitbank'][0]['code'])">
                                    <div class="col-md-4"><label><span class="star">*</span>Biller Debit Account Number</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-8">
                                        <input class="form-control m-input"
                                               type="text" placeholder="Account Number"
                                               formControlName="billerDebitAccountNumber"
                                               maxlength="10"
                                               minlength="10"
                                               (keyup)="billerDebitkeyupAccountNumber()"
                                               autocomplete="off">
                                        <div *ngIf="createFormBearer.get('billerDebitAccountNumber').invalid && createFormBearer.get('billerDebitAccountNumber').touched"
                                             class="alert alert-danger text-center">
                                    Account Number is required and must be number
                                </div>
                                <div *ngIf="createFormBearer.value['billerDebitAccountNumber'] !== '' && booleans.billerDebitacountloader"
                                     class="alert alert-warning text-center">
                                    <i class="fa fa-spinner fa-spin"></i> Checking Account Number
                                </div>
                                <div *ngIf="createFormBearer['value']['billerDebitbank'][0] &&
                                          createFormBearer['value']['billerDebitbank'][0]['code'] && createFormBearer.value['billerDebitAccountNumber'] && createFormBearer.value['billerDebitAccountNumber']?.length ===10 && !list.billerDebitaccountResult?.accountName && !booleans.billerDebitacountloader"
                                     class="alert alert-danger text-center">
                                    Account Number does not exist
                                </div>
                                    </div>
                                </div>

                                    <div class="row" *ngIf="list.billerDebitaccountResult?.accountName">
                            <div class="col-md-4"><label><span
                                    class="star">*</span>Biller Debit Account&nbsp;Name</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <input class="form-control m-input"
                                       type="text" placeholder="Account Name"
                                       formControlName="billerDebitaccountName"
                                       readonly=true
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label><span class="star">*</span>Markup Fee Amount</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <input class="form-control m-input" (change)="checkAmountValue($event)"
                                       type="text" placeholder="Markup Fee Amount"
                                       formControlName="markUpFee"
                                       autocomplete="off">
                                <div class="alert alert-danger" role="alert" *ngIf="error.percentageError !== ''">
                                    {{error.percentageError}}
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="details?.userType !== 'BANK'">
                            <div class="col-md-4"><label><span class="star">*</span>Bank</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <!--<span *ngIf="submit_type === 'Update'">{{list.details?.bank?.name}}</span>-->
                                <span>
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                   </span>
                            </div>
                        </div>
                        <div class="row" *ngIf="details?.userType !== 'BANK' && (createFormBearer.value['bank']
                        && createFormBearer.value['bank'][0] && createFormBearer.value['bank'][0]['id'])">
                            <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                            </div>
                            <div class="form-group m-form__group col-md-8">
                                <input class="form-control m-input"
                                       type="text" placeholder="Account Number"
                                       formControlName="accountNumber"
                                       maxlength="10"
                                       minlength="10"
                                       (keyup)="keyupAccountNumber()"
                                       autocomplete="off">
                                <div *ngIf="createFormBearer.get('accountNumber').invalid && createFormBearer.get('accountNumber').touched"
                                     class="alert alert-danger text-center">
                                    Account Number is required and must be number
                                </div>
                                <div *ngIf="createFormBearer.value['accountNumber'] !== '' && booleans.acountloader"
                                     class="alert alert-warning text-center">
                                    <i class="fa fa-spinner fa-spin"></i> Checking Account Number
                                </div>
                                <div *ngIf="createFormBearer.value['accountNumber'] && createFormBearer.value['accountNumber']?.length ===10 && !list.accountResult?.accountName && !booleans.acountloader"
                                     class="alert alert-danger text-center">
                                    Account Number does not exist
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="list.accountResult?.accountName">
                            <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Name</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <input class="form-control m-input"
                                       type="text" placeholder="Account Name"
                                       formControlName="accountName"
                                       readonly=true
                                       autocomplete="off">
                                <div *ngIf="createFormBearer.get('accountName').invalid && createFormBearer.get('accountName').touched"
                                     class="alert alert-danger text-center">
                                    Account Name is Required
                                </div>
                            </div>
                        </div>
                    </span>

                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createForm.invalid" *ngIf="booleans.showBillSetup && submit_type !== 'Update'"
                        (click)="setup(false)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Fees Setup
                </button>
                <button type="button" *ngIf="!booleans.showBillSetup && submit_type !== 'Update'"
                        [disabled]="!booleans.showBillSetup && createFormBearer.invalid && createForm.invalid"
                        (click)="submit()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>  Submit
                </button>
                <button type="button" *ngIf="submit_type === 'Update' && booleans.showBillSetup" (click)="update()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>Update Billing
                </button>
                <button type="button" *ngIf="submit_type === 'Update' && !booleans.showBillSetup && list.fees.length !== 0" (click)="updateFees()"
                        [disabled]="createFormBearer.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmitFees"></i>Update Fees
                </button>
                <button type="button" *ngIf="submit_type === 'Update' && !booleans.showBillSetup && list.fees.length === 0"
                        (click)="createFees(id)"
                        [disabled]="createFormBearer.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmitFees"></i>Create Fees
                </button>

            </div>
        </div>
    </div>
</div>


<!--Search Modal-->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>Search</span> Biller</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormSearch">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group m-form__group col-md-12">
                                    <label>RC&nbsp;Number</label>
                                    <input class="form-control m-input" type="text"
                                           placeholder="RC Number"
                                           formControlName="rcNumber"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('rcNumber').invalid && createForm.get('rcNumber').touched"
                                         class="alert alert-danger text-center">
                                        <span *ngIf="createForm?.value?.rcNumber?.length > 0">Number is Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="details">
                            <div class="row" *ngIf="details?.userType !== 'BANK'">
                                <div class="form-group m-form__group col-md-12">
                                    <label>Introducing Bank</label>
                                    <!--<span *ngIf="submit_type === 'Update'">{{list.details?.bank?.name}}</span>-->
                                    <span>
                                       <angular2-multiselect [data]="itemListBankList"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                   </span>
                                    <div *ngIf="booleans.loadBank" class="alert alert-warning text-center">
                                        <i class="fa fa-spin fa-spinner"></i> Loading Introducing Bank(s)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group m-form__group col-md-12">
                                    <label>Category</label>
                                    <angular2-multiselect [data]="itemListIndustry"
                                                          [settings]="settingsIndustry"
                                                          formControlName="industry">
                                    </angular2-multiselect>
                                    <div *ngIf="booleans.loadIndustry" class="alert alert-warning text-center">
                                        <i class="fa fa-spin fa-spinner"></i> Loading Category(s)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group m-form__group col-md-12">
                                    <div><label>Status</label></div>
                                    <select class="form-control m-input" formControlName="activated">
                                        <option value="">Select Status</option>
                                        <option value="true"> Active</option>
                                        <option value="false"> Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" (click)="searchMethod(0)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.loadingSearch"></i>Search
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <!--<button type="button" (click)="exportCsvSearch()"
                                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.csvsearchloader"></i>CSV Export
                                </button>
                                <button type="button" (click)="exportPdfSearch()"
                                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.pdfsearchloader"></i>PDF Export
                                </button>-->

            </div>
        </div>
    </div>
</div>


<!--view Modal-->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal2">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset type="pills">
                    <ngb-tab>
                        <ng-template ngbTabTitle>Biller Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Biller Name</td>
                                        <td>{{list.details?.name | firstLetterTopUpperCase}}</td>
                                    </tr>
                                    <tr>
                                        <td>RC Number</td>
                                        <td>{{list.details?.rcNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td>{{list.details?.accountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Name</td>
                                        <td>{{list.details?.accountName}}</td>
                                    </tr>
                                    <tr>
                                        <td>BVN</td>
                                        <td>{{list.details?.bvn}}</td>
                                    </tr>
                                    <tr>
                                        <td>Introducing Bank</td>
                                        <td>{{list.details?.bank?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>{{list.details?.industry?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{list.details?.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Created By</td>
                                        <td>{{list.details?.createdBy?.emailAddress}}</td>
                                    </tr>
                                    <!--<tr>
                                        <td>Updated By</td>
                                        <td>{{list.details?.updatedBy?.emailAddress}}</td>
                                    </tr>-->
                                    <tr>
                                        <td>Date Created</td>
                                        <td>{{list.details?.createdAt | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{list.details?.updatedAt | date}}</td>
                                    </tr>
                                    <tr *ngIf="approvalStatus !== ''">
                                        <td>Authorization</td>
                                        <td>{{list.details?.authorizationStatus | removeUnderscore |
                                            firstLetterTopUpperCase}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="approvalStatus === 'Disapproved'">
                                        <td>Reason</td>
                                        <td>{{list.details?.reason}}</td>
                                    </tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Fees Details">
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped" *ngIf="list.fees?.feeBearer">
                                    <tr>
                                        <td>Fee Bearer</td>
                                        <td>{{list.fees?.feeBearer}}</td>
                                    </tr>
                                    <tr>
                                        <td>Split Type</td>
                                        <td>{{list.fees?.splitType}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed Amount</td>
                                        <td>{{list.fees?.fixedAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Percentage Amount</td>
                                        <td>{{list.fees?.percentageAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Debit Account Number</td>
                                        <td>{{list.fees?.billerDebitAccountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Debit At Transaction Time</td>
                                        <td>{{list.fees?.debitAtTransactionTime}}</td>
                                    </tr>
                                </table>
                                <table class="table table-striped" *ngIf="list?.fees.length === 0">
                                    <tr class="text-center">No Fee Configured for this Biller</tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Product(s)">
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td>#</td>
                                        <td>Product</td>
                                        <td>Amount</td>
                                        <td>Description</td>
                                    </tr>
                                    <tr *ngFor="let data of list?.productList; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{data?.name}}</td>
                                        <td>{{data?.amount}}</td>
                                        <td>{{data?.description}}</td>
                                    </tr>
                                    <tr *ngIf="list?.productList.length === 0">
                                        <td colspan="4" *ngIf="loadproductdetails" class="text-center"><i
                                                class="fa fa-spin fa-spinner"></i>Loading Product(s)
                                        </td>
                                        <td colspan="4" *ngIf="!loadproductdetails" class="text-center">No product for
                                            this biller
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Emandate Configuration">
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Username</td>
                                        <td>{{list.details?.emandateConfig?.username | firstLetterTopUpperCase}}</td>
                                    </tr>
                                    <tr>
                                        <td>Domain Name</td>
                                        <td>{{list.details?.emandateConfig?.domainName | firstLetterTopUpperCase}}</td>
                                    </tr>
                                    <tr>
                                        <td>Notification Url</td>
                                        <td>{{list.details?.emandateConfig?.notificationUrl | firstLetterTopUpperCase}}</td>
                                    </tr>
                                    <tr>
                                        <td>Created By</td>
                                        <td>{{list.details?.emandateConfig?.createdBy?.emailAddress}}</td>
                                    </tr>
                                    <!--<tr>
                                        <td>Updated By</td>
                                        <td>{{list.details?.emandateConfig?.updatedBy?.emailAddress}}</td>
                                    </tr>-->
                                    <tr>
                                        <td>Date Created</td>
                                        <td>{{list.details?.emandateConfig?.createdAt | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{list.details?.emandateConfig?.updatedAt | date}}</td>
                                    </tr>
                                    <tr *ngIf="approvalStatus !== ''">
                                        <td>Authorization</td>
                                        <td>{{list.details?.emandateConfig?.authorizationStatus | removeUnderscore |
                                            firstLetterTopUpperCase}}
                                        </td>
                                    </tr>
                                    <!-- <tr *ngIf="approvalStatus === 'Disapproved'">
                                         <td>Reason</td>
                                         <td>{{list.details?.emandateConfig?.reason}}</td>
                                     </tr>-->
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator cursor" (click)="getMainPage()">
                Billers
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text cursor" (click)="getMainPage()">
                                <span *ngIf="approvalStatus !== ''">{{approvalStatus | transformtext}}</span> <span
                                    *ngIf="approvalStatus === ''">{{moduleName}}</span>
                            </h3>
                        </div>
                    </div>
                    <!--<div class="m-portlet__head-tools" style="margin-right: -100px !important;">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-sm btn-success" (click)="openModal()">
                                        <i class="m-nav__link-icon flaticon-share"></i>
                                        <span class="m-nav__link-text">
                                        Create
                                    </span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button class="btn btn-primary btn-sm" routerLink="/settings/BILLER/approved">E-mandate Authorization</button>
                            </li>
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-info btn-sm">Export Options</button>
                                    <!--<a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>-->
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <!--<li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export all pages to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to CSV
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">Export all pages to CSV</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="margin-approval">
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Approved' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-success"
                                (click)="getParam(approvalName+'/approved')">
                            Approved
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Pending' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-warning"
                                (click)="getParam(approvalName+'/pending')">
                            Pending
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Disapproved' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-danger"
                                (click)="getParam(approvalName+'/disapproved')">
                            Disapproved
                        </button>
                        <button class="btn btn-success float-right create-search-style"
                                *ngIf="booleans.initiator && approvalStatus === ''"
                                (click)="openModal()">Create
                        </button>
                        <button class="btn btn-outline-primary float-right" (click)="getSearchModal()">Search</button>
                        <div style="clear: both"></div>
                    </div>

                    <div class="page-size">
                        <select class="m-input" (change)="onChangePageSize($event)">
                            <option *ngFor="let data of pagesizeArray">{{data}}</option>
                        </select>
                        <span> records per page</span>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Biller</th>
                            <th scope="col">RC Number</th>
                            <th scope="col">Account No.</th>
                            <th scope="col">Introducing Bank</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: pagesize,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.name | firstLetterTopUpperCase}}</td>
                            <td>{{data?.rcNumber}}</td>
                            <td>{{data?.accountNumber}}</td>
                            <td>{{data?.bank?.name}}</td>
                            <td>{{data?.createdBy?.emailAddress}}</td>
                            <td>{{data?.createdAt | date}}</td>
                            <td *ngIf="booleans?.initiator && approvalStatus === ''">
                                <switch
                                        [status]="data?.activated"
                                        [onText]="data?.activated?'Active':'Inactive'"
                                        [offText]="data?.activated?'Active':'Inactive'"
                                        [onColor]="data?.activated?'green':'red'"
                                        [offColor]="data?.activated?'green':'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="toggle(data)">
                                </switch>
                            </td>
                            <td *ngIf="booleans.authorizer || !booleans.initiator || approvalStatus !== ''">
                                <label class="badge badge-danger" *ngIf="!data?.activated">Inactive</label>
                                <label class="badge badge-success" *ngIf="data?.activated">Active</label>
                            </td>
                            <td>
                                <button *ngIf="booleans.initiator && (approvalStatus === '' || (approvalStatus === 'Disapproved'))"
                                        type="button"
                                        placement="bottom"
                                        ngbTooltip="Edit Detail" (click)="edit(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button *ngIf="!data?.emandateConfig && booleans.initiator && (approvalStatus === '' || (approvalStatus === 'Disapproved' && data?.authorizationStatus ==='CREATION_REJECTED'))"
                                        type="button"
                                        placement="bottom"
                                        ngbTooltip="Emandate Setup" (click)="setupemandate(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-warning m-btn--gradient-to-accent">
                                    <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-success" ngbTooltip="Approve"
                                        placement="bottom" *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="approve(data?.id, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'approve' && data.id === id"></i>
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ngbTooltip="Reject" placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="getReason(data, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'disapprove' && data.id === id"></i>
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <button type="button"
                                        ngbTooltip="View Detail"
                                        placement="bottom"
                                        (click)="view(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" placement="bottom" [routerLink]="'/biller-user/'+data.id"
                                        ngbTooltip="View biller user(s)" *ngIf="approvalStatus === ''"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-users"></i>
                                </button>
                                <button type="button" placement="bottom" [routerLink]="'/products/'+data?.id"
                                        ngbTooltip="Biller Products"
                                        *ngIf="(details?.userType !== 'BILLER' && details?.userType !== 'NIBSS') && approvalStatus === ''"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-product-hunt"></i>
                                </button>
                                <!--<button type="button" *ngIf="booleans['initiator']  && approvalStatus === ''"
                                        placement="bottom"
                                        (click)="setupFees(data)"
                                        ngbTooltip="Setup Fees" [disabled]="booleans?.loadsetupFees && data?.id === id"
                                        class="btn btn-sm m-btn m-btn&#45;&#45;gradient-from-success m-btn&#45;&#45;gradient-to-accent">
                                    <i class="fa fa-spinner fa-spin"
                                       *ngIf="booleans?.loadsetupFees && data?.id === id"></i><i class="fa fa-fax"></i>
                                </button>-->
                                <!--<button type="button" *ngIf="booleans['initiator']  && approvalStatus === ''" placement="bottom" (click)="setFormulae(data)"
                                        ngbTooltip="Setup Beneficiary Formula" [disabled]="booleans?.loadFee && data?.id === id"
                                        class="btn btn-sm m-btn m-btn&#45;&#45;gradient-from-success m-btn&#45;&#45;gradient-to-accent">
                                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadFee && data?.id === id"></i>
                                    <i class="fa fa-user-circle"></i>
                                </button>-->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading Biller(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls
                            (pageChange)="(approvalStatus === '')?getPage($event): getApprovalPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>