<!--reason Modal-->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal3">
                    <span>Reason For Disapproving</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <form [formGroup]='formReason'>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" formControlName="reason" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close" [disabled]="formReason.invalid"
                        (click)="disapprove()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadAction && approvalType === 'disapprove'"></i> Disapprove
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row" *ngIf="details">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Beneficiary Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Beneficiary Name"
                                           formControlName="beneficiaryName"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('beneficiaryName').invalid && createForm.get('beneficiaryName').touched"
                                         class="alert alert-danger text-center">
                                        Beneficiary Name is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Account Number"
                                           formControlName="accountNumber"
                                           maxlength="10"
                                           minlength="10"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('accountNumber').invalid && createForm.get('accountNumber').touched"
                                         class="alert alert-danger text-center">
                                        Account Number is required and must be number
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Account Name"
                                           formControlName="accountName"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('accountName').invalid && createForm.get('accountName').touched"
                                         class="alert alert-danger text-center">
                                        Account Name is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Bank</label></div>
                                <div class="form-group m-form__group col-md-8">
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" *ngIf="submit_type === 'Submit'" (click)="submit()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>
                <button type="button" *ngIf="submit_type === 'Update'" (click)="updateBeneficiary()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>

            </div>
        </div>
    </div>
</div>

<!--Search Modal-->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>Search</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormSearch">
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Beneficiary Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Beneficiary Name"
                                           formControlName="beneficiaryName"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Account Number"
                                           formControlName="accountNumber"
                                           maxlength="10"
                                           minlength="10"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Account Name"
                                           formControlName="accountName"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Bank</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <angular2-multiselect [data]="itemListBank"
                                                          [settings]="settingsBank"
                                                          formControlName="bankId">
                                    </angular2-multiselect>
                                </div>
                            </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" (click)="searchMethod(0)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.loadingSearch"></i>Search
                </button>
                <button type="button" (click)="exportCsvSearch()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.csvsearchloader"></i>CSV Export
                </button>
                <button type="button" (click)="exportPdfSearch()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.pdfsearchloader"></i>PDF Export
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset type="pills">
                    <ngb-tab title="Fees Details">
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Fee Bearer</td>
                                        <td>{{list.details?.feeBearer}}</td>
                                    </tr>
                                    <tr>
                                        <td>Split Type</td>
                                        <td>{{list.details?.splitType}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed Amount</td>
                                        <td>{{list.details?.fixedAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Percentage Amount</td>
                                        <td>{{list.details?.percentageAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Biller Debit Account Number</td>
                                        <td>{{list.details?.billerDebitAccountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Debit At Transaction Time</td>
                                        <td>{{list.details?.debitAtTransactionTime}}</td>
                                    </tr>

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Biller Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Company Name</td>
                                        <td>{{list.details?.biller?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>RC Number</td>
                                        <td>{{list.details?.biller?.rcNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td>{{list.details?.biller?.accountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Name</td>
                                        <td>{{list.details?.biller?.accountName}}</td>
                                    </tr>
                                    <tr>
                                        <td>BVN</td>
                                        <td>{{list.details?.biller?.bvn}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bank</td>
                                        <td>{{list.details?.biller?.bank?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Industry</td>
                                        <td>{{list.details?.biller?.industry?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{list.details?.biller?.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Created</td>
                                        <td>{{list.details?.biller?.createdAt | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{list.details?.biller?.updatedAt | date}}</td>
                                    </tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" *ngIf="submit_type === 'Submit'" (click)="submit()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>Submit
                </button>
                <button type="button" *ngIf="submit_type === 'Update'" (click)="update()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>

            </div>
        </div>
    </div>
</div>


<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{moduleName}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text cursor" (click)="getMainPage()">
                                {{approvalStatus | transformtext}} {{moduleName}}
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-info btn-sm">Export Options</button>
                                    <!--<a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>-->
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <!--<li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <!--<li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						pdf (All Pages)
																					</span>
                                                            </a>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to CSV
																					</span>
                                                            </a>
                                                        </li>
                                                        <!--<li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">csv (All Pages)</span>
                                                            </a>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="margin-approval">
                        <button *ngIf="booleans.authorizer || booleans.initiator" [ngClass]="approvalStatus === 'Approved' ? 'activeStatus': 'inactiveStatus'" class="btn btn-success"
                                (click)="getParam(approvalName+'/approved')">
                            Approved
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator" [ngClass]="approvalStatus === 'Pending' ? 'activeStatus': 'inactiveStatus'" class="btn btn-warning"
                                (click)="getParam(approvalName+'/pending')">
                            Pending
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator" [ngClass]="approvalStatus === 'Disapproved' ? 'activeStatus': 'inactiveStatus'" class="btn btn-danger"
                                (click)="getParam(approvalName+'/disapproved')">
                            Disapproved
                        </button>
                        <button class="btn btn-outline-primary float-right" (click)="getSearchModal()">Search</button>
                    </div>

                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Beneficiary Name</th>
                            <th scope="col">Account Name</th>
                            <th scope="col">Account No.</th>
                            <th scope="col">Bank</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.beneficiaryName}}</td>
                            <td>{{data?.accountName}}</td>
                            <td>{{data?.accountNumber}}</td>
                            <td>{{data?.bank?.name}}</td>
                            <td *ngIf="booleans?.initiator && approvalStatus === ''">
                                <switch
                                        [status]="data?.activated"
                                        [onText]="data?.activated?'Active':'Inactive'"
                                        [offText]="data?.activated?'Active':'Inactive'"
                                        [onColor]="data?.activated?'green':'red'"
                                        [offColor]="data?.activated?'green':'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="toggle(data)">
                                </switch>
                            </td>
                            <td *ngIf="booleans.authorizer || !booleans.initiator || approvalStatus !== ''">
                                <label class="badge badge-danger" *ngIf="!data?.activated">Inactive</label>
                                <label class="badge badge-success" *ngIf="data?.activated">Active</label>
                            </td>
                            <td>
                                <button *ngIf="booleans.initiator && approvalStatus === ''" type="button"
                                        placement="bottom"
                                        ngbTooltip="Edit Detail" (click)="edit(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-success" ngbTooltip="Approve"
                                        placement="bottom" *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="approve(data?.id, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'approve' && data.id === id"></i>
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ngbTooltip="Reject" placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="getReason(data, data?.authorizationStatus)" [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'disapprove' && data.id === id"></i>
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <button type="button"
                                        ngbTooltip="View Detail"
                                        placement="bottom"
                                        (click)="view(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading Beneficiary(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="(approvalStatus === '')?getPage($event): getApprovalPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>