<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Products
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Products
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Products
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right;" (click)="onOpenBulk()"
                                        type="button"
                                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air">
                                    Products Bulk Upload
                                </button>
                            </li>
                            <li class="m-portlet__nav-item">
                                <button style="float: right;" (click)="onOpen()"
                                        type="button"
                                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air">
                                    Create Product
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <table class="table table-responsive">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PRC</th>
                            <th scope="col">Products Name</th>
                            <th scope="col">Products Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>DSTV7419</td>
                            <td>DSTV Premium Subscription</td>
                            <td>&#8358;13,500</td>
                            <td>23rd June, 2007</td>
                            <td>
                                <a (click)="onOpen()" class="btn btn-outline-info"><i class="fa fa-money"></i></a>
                                <a (click)="onInfo()" class="btn btn-outline-info"><i class="fa fa-info"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>DSTV7418</td>
                            <td>DSTV Compact Subscription</td>
                            <td>&#8358;9,500</td>
                            <td>23rd June, 2007</td>
                            <td>
                                <a (click)="onOpen()" class="btn btn-outline-info"><i class="fa fa-money"></i></a>
                                <a (click)="onInfo()" class="btn btn-outline-info"><i class="fa fa-info"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>DSTV7417</td>
                            <td>DSTV Family Subscription</td>
                            <td>&#8358;4,500</td>
                            <td>23rd June, 2007</td>
                            <td>
                                <a (click)="onOpen()" class="btn btn-outline-info"><i class="fa fa-money"></i></a>
                                <a (click)="onInfo()" class="btn btn-outline-info"><i class="fa fa-info"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>DSTV7416</td>
                            <td>DSTV Access Subscription</td>
                            <td>&#8358;1,500</td>
                            <td>23rd June, 2007</td>
                            <td>
                                <a (click)="onOpen()" class="btn btn-outline-info"><i class="fa fa-money"></i></a>
                                <a (click)="onInfo()" class="btn btn-outline-info"><i class="fa fa-info"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                    <span>New</span> Product</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="align-content-md-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                   value="option1">
                            <label class="form-check-label" for="inlineRadio1">Recurring Mandate</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                   value="option2">
                            <label class="form-check-label" for="inlineRadio2">One-Time Mandate</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">PIN</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="PIN">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Bank Verification Number</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="BVN">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin"></i>
                    <span> Create </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">DSTV Premium Bouquet</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Mandate Reference Code:</li>
                    <li>Bank Verification Number:</li>
                    <li>Billers Affliates:</li>
                    <li>Date Created:</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="BulkUpload" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Bulk Upload</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" placeholder="Bulk Upload" aria-label="Bulk Upload" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-cloud-upload"></i> &nbsp; Upload</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>