<!--view Modal-->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal2">
                    <span>View</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row" *ngIf="list.details">
                <div class="table-responsive col-md-5">
                    <table class="table table-striped">
                        <tr>
                            <td>Mandate Code</td>
                            <td>{{list.details?.mandateCode}}</td>
                        </tr>
                        <tr>
                            <td>Mandate Type</td>
                            <td>{{list.details?.mandateType}}</td>
                        </tr>
                        <tr>
                            <td>Mandate Narration</td>
                            <td>{{list.details?.narration}}</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>{{list.details?.accountName}}</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>{{list.details?.accountNumber}}</td>
                        </tr>
                        <tr>
                            <td>BVN</td>
                            <td>{{list.details?.bvn}}</td>
                        </tr>
                        <tr>
                            <td>Bank</td>
                            <td>{{list.details?.bank?.name}}</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{list.details?.amount}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{list.details?.email}}</td>
                        </tr>
                        <tr>
                            <td>Payer Name</td>
                            <td>{{list.details?.payerName}}</td>
                        </tr>
                        <tr>
                            <td>Payer Address</td>
                            <td>{{list.details?.payerAddress}}</td>
                        </tr>
                        <tr>
                            <td>Product</td>
                            <td>{{list.details?.product?.name}}</td>
                        </tr>
                        <tr>
                            <td>Mandate Advice Response Code</td>
                            <td>{{list.details?.mandateAdviceResponseCode}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{list.details?.status?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{list.details?.status?.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mail Description</td>
                                        <td>{{list.details?.status?.mailDescription}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Subscriber Code</td>
                            <td>{{list.details?.subscriberCode}}</td>
                        </tr>
                        <tr>
                            <td>Work-Flow Status</td>
                            <td>{{list.details?.workflowStatus}}</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>{{list.details?.startDate}}</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>{{list.details?.endDate}}</td>
                        </tr>
                        <tr>
                            <td>Authorized Date</td>
                            <td>{{list.details?.dateAuthorized}}</td>
                        </tr>
                        <tr>
                            <td>Suspended Date</td>
                            <td>{{list.details?.dateSuspended}}</td>
                        </tr>
                        <tr>
                            <td>Date Created</td>
                            <td>{{list.details?.created_at}}</td>
                        </tr>
                        <tr>
                            <td>Date Updated</td>
                            <td>{{list.details?.updated_at}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-7">
                    <img [src]="imageResponse" style="width: 100%">
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal2">
                    <span>Search</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row" *ngIf="list.details">
                <div class="col-md-12">
                    <form class="col-md-12" [formGroup]="createFormSearch">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3"><label>Biller Subscriber Reference</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Enter Subscriber Code"
                                               formControlName="subscriberCode"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3"><label>Payer</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Enter Payer Name"
                                               formControlName="payerName"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('payerName').invalid && createForm.get('payerName').touched"
                                             class="alert alert-danger text-center">
                                            Payer is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3"><label>Payer's Email</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Enter Payer's Email"
                                               formControlName="email"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('email').invalid && createForm.get('email').touched"
                                             class="alert alert-danger text-center">
                                            Email is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!--<div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>Phone number</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="number" placeholder="Phone number"
                                               formControlName="phoneNumber"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('phoneNumber').invalid && createForm.get('phoneNumber').touched"
                                             class="alert alert-danger text-center">
                                            Phone number is Required
                                        </div>
                                    </div>
                                </div>-->

                                <!--<div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>Amount</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="number" placeholder="Amount"
                                               formControlName="amount"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('amount').invalid && createForm.get('amount').touched"
                                             class="alert alert-danger text-center">
                                            Amount is Required
                                        </div>
                                    </div>
                                </div>-->
<!--
                                <div class="row">
                                    <div class="col-md-3"><label>Payer's Address</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Enter Payer's Address"
                                               formControlName="address"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('payerAddress').invalid && createForm.get('payerAddress').touched"
                                             class="alert alert-danger text-center">
                                            Payer's Address is Required
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="!user?.biller && !user?.biller?.id">
                                    <div class="col-md-3"><label>Biller</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <angular2-multiselect [data]="itemListBiller"
                                                              [settings]="settingsBiller"
                                                              formControlName="biller"
                                                              (onSelect)="onItemSelectBiller($event)"
                                                              (onDeSelect)="OnItemDeSelectBiller($event)">
                                        </angular2-multiselect>
                                        <div *ngIf="itemListBiller?.length === 0 && !booleans?.loadbiller"
                                             class="text-center alert alert-danger">
                                            No Biller Found
                                        </div>
                                        <div class="alert alert-warning"
                                             *ngIf="booleans?.loadbiller && itemListBiller?.length > 0"><i
                                                class="fa fa-spinner fa-spin"></i> Loading Biller
                                        </div>
                                        <div *ngIf="booleans.loadbillerProduct && itemListProduct?.length === 0 && !booleans?.loadbiller"
                                             class="text-center alert alert-danger">
                                            No Product Found
                                        </div>
                                        <div class="alert alert-warning"
                                             *ngIf="booleans.loadbillerProduct && booleans?.loadbiller && itemListBiller?.length > 0">
                                            <i
                                                    class="fa fa-spinner fa-spin"></i> Loading Biller
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="itemListProduct.length > 0 ">
                                    <div class="col-md-3"><label>Product</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <angular2-multiselect [data]="itemListProduct"
                                                              [settings]="settingsProduct"
                                                              formControlName="productName">
                                        </angular2-multiselect>
                                    </div>
                                </div>

                                <div class="row" *ngIf="itemListBank.length > 0 ">
                                    <div class="col-md-3"><label>Bank</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <angular2-multiselect [data]="itemListBank"
                                                              [settings]="settingsBank"
                                                              formControlName="bankCode">
                                        </angular2-multiselect>
                                        <div *ngIf="itemListBank?.length === 0 && !booleans?.loadbank"
                                             class="text-center" style="color: red">
                                            No Bank Found
                                        </div>
                                        <span *ngIf="booleans?.loadbank && itemListBank?.length > 0"><i
                                                class="fa fa-spinner fa-spin"></i> Loading BANK
                                    </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3"><label>Mandate Type</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <select class="form-control m-input" type="text"
                                                formControlName="mandateType">
                                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                                            <option *ngFor="let data of list.mandateTypeData">{{data['mandateType']}}</option>
                                        </select>
                                        <div *ngIf="booleans.loadType"
                                             class="alert alert-warning text-center">
                                            Loading Mandate Type
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label>Mandate Category</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <select class="form-control m-input" type="text"
                                                formControlName="mandateCategory">
                                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                                            <option *ngFor="let data of list.mandateCategoryData">{{data['mandateCategory']}}</option>
                                        </select>
                                        <div *ngIf="booleans.loadCategory"
                                             class="alert alert-warning text-center">
                                            Loading Mandate Category
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label>Mandate Channel</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <select class="form-control m-input" type="text"
                                                formControlName="channel">
                                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                                            <option *ngFor="let data of list.mandateChannelData">{{data['mandateChannel']}}</option>
                                        </select>
                                        <div *ngIf="booleans.loadChannel"
                                             class="alert alert-warning text-center">
                                            Loading Mandate Channel
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="itemListFrequency?.length > 0">
                                    <div class="col-md-3"><label>Frequency</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <angular2-multiselect [data]="itemListFrequency"
                                                              [settings]="settingsFrequency"
                                                              formControlName="frequency">
                                        </angular2-multiselect>
                                        <div *ngIf="itemListFrequency?.length === 0 && !booleans?.loadFrequency"
                                             class="alert alert-danger text-center">
                                            No Frequency Found
                                        </div>
                                        <div class="alert alert-warning text-center"
                                             *ngIf="booleans?.loadFrequency && itemListFrequency?.length === 0"><i
                                                class="fa fa-spinner fa-spin"></i> Loading Frequency
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <!--<div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label>Mandate Start
                                        Date:</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="date"
                                               formControlName="mandateStartDate"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label>Mandate End
                                        Date:</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="date"
                                               formControlName="mandateEndDate"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label>BVN:</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Enter BVN"
                                               formControlName="bvn"
                                               minlength="11"
                                               maxlength="11"
                                               autocomplete="off">
                                        <div *ngIf="createForm.get('bvn').invalid && createForm.get('bvn').touched"
                                             class="alert alert-danger text-center">
                                            BVN is Required
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3"><label>Account Number:</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Enter Account Number"
                                               formControlName="accNumber"
                                               minlength="10"
                                               maxlength="10"
                                               autocomplete="off">
                                        <div *ngIf="createFormSearch.get('accNumber').invalid && createFormSearch.get('accNumber').touched"
                                             class="alert alert-danger text-center">
                                            10 digit Account Number. is Required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label>Account Name:</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text"
                                               placeholder="Enter Account Name"
                                               formControlName="accName"
                                               autocomplete="off">
                                    </div>
                                </div>
                                &lt;!&ndash;<div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>Narration:</label></div>
                                    <div class="m-form__group col-md-9">
                                        <textarea class="form-control m-input" placeholder="Enter Narration"
                                                  formControlName="narration"
                                                  autocomplete="off"></textarea>
                                        <div *ngIf="createForm.get('narration').invalid && createForm.get('narration').touched"
                                             class="alert alert-danger text-center">
                                            Narration is Required
                                        </div>
                                    </div>
                                </div>&ndash;&gt;
                            </div>-->
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" (click)="searchMethod(0)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.loadingSearch"></i>Search
                </button>
             <!--   <button type="button" (click)="exportCsvSearch()"
                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.csvsearchloader"></i>CSV Export
                </button>
                <button type="button" (click)="exportPdfSearch()"
                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.pdfsearchloader"></i>PDF Export
                </button>-->
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>


            </div>
        </div>
    </div>
</div>


<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Mandates
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">

                <!--ADDING MANDATE-->
                <div class="m-portlet__head" *ngIf="booleans?.newMandateStatus">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Add {{moduleName}}
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">

                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <a
                                            class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                        <i class="la la-times" (click)="close()"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive" *ngIf="booleans?.newMandateStatus">
                    <div class="row">
                        <form class="col-md-12" [formGroup]="createForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3"><label>Biller Subscriber
                                            Reference</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text"
                                                   placeholder="Enter Subscriber Code"
                                                   formControlName="billerSubscriberRef"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('billerSubscriberRef').invalid && createForm.get('billerSubscriberRef').touched"
                                                 class="alert alert-danger text-center">
                                                Biller Subscriber Reference is Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Payer</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text"
                                                   placeholder="Enter Payer Name"
                                                   formControlName="payerName"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('payerName').invalid && createForm.get('payerName').touched"
                                                 class="alert alert-danger text-center">
                                                Payer is Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Payer's Email</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text"
                                                   placeholder="Enter Payer's Email"
                                                   formControlName="email"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('email').invalid && createForm.get('email').touched"
                                                 class="alert alert-danger text-center">
                                                Email is Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Phone number</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text" placeholder="Phone number"
                                                   formControlName="phoneNumber"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('phoneNumber').invalid && createForm.get('phoneNumber').touched"
                                                 class="alert alert-danger text-center">
                                                Phone number is Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Payer's Address</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text"
                                                   placeholder="Enter Payer's Address"
                                                   formControlName="payerAddress"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('payerAddress').invalid && createForm.get('payerAddress').touched"
                                                 class="alert alert-danger text-center">
                                                Payer's Address is Required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="!user?.biller && !user?.biller?.id">
                                        <div class="col-md-3"><label><span class="star">*</span>Biller</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <angular2-multiselect [data]="itemListBiller"
                                                                  [settings]="settingsBiller"
                                                                  formControlName="biller"
                                                                  (onSelect)="onItemSelectBiller($event)"
                                                                  (onDeSelect)="OnItemDeSelectBiller($event)">
                                            </angular2-multiselect>
                                            <div *ngIf="itemListBiller?.length === 0 && !booleans?.loadbiller"
                                                 class="text-center alert alert-danger">
                                                No Biller Found
                                            </div>
                                            <div class="alert alert-warning"
                                                 *ngIf="booleans?.loadbiller && itemListBiller?.length > 0"><i
                                                    class="fa fa-spinner fa-spin"></i> Loading Biller
                                            </div>
                                            <div *ngIf="booleans.loadbillerProduct && itemListProduct?.length === 0 && !booleans?.loadbiller"
                                                 class="text-center alert alert-danger">
                                                No Product Found
                                            </div>
                                            <div class="alert alert-warning"
                                                 *ngIf="booleans.loadbillerProduct && booleans?.loadbiller && itemListBiller?.length > 0">
                                                <i
                                                        class="fa fa-spinner fa-spin"></i> Loading Biller
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="booleans?.showProduct">
                                        <div class="col-md-3"><label><span class="star">*</span>Product</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <angular2-multiselect [data]="itemListProduct"
                                                                  [settings]="settingsProduct"
                                                                  formControlName="product">
                                            </angular2-multiselect>
                                            <div *ngIf="itemListProduct.length === 0 && booleans.loadProduct"
                                                 class="alert alert-warning text-center">
                                                <i class="fa fa-spin fa-spinner"></i> Loading Product(s)
                                            </div>
                                            <div *ngIf="itemListProduct.length === 0 && !booleans.loadProduct && user?.biller && user?.biller?.id"
                                                 class="alert alert-danger text-center">
                                                No product is found
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Mandate Type</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <select class="form-control m-input" type="text"
                                                    placeholder="Mandate Type"
                                                    formControlName="fixedAmountMandate"
                                                    autocomplete="off" (change)="onSelectMandateType($event)">
                                                <option>--Select--</option>
                                                <option value="true">Fixed</option>
                                                <option value="false">Variable</option>
                                            </select>
                                            <div *ngIf="createForm.get('fixedAmountMandate').invalid && createForm.get('fixedAmountMandate').touched"
                                                 class="alert alert-danger text-center">
                                                Mandate Type is Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="itemListFrequency?.length > 0">
                                        <div class="col-md-3" *ngIf="booleans.mandateType"><label><span class="star">*</span>Amount</label></div>
                                        <div class="col-md-3" *ngIf="!booleans.mandateType"><label><span class="star">*</span>Cap Value</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="number" [placeholder]="mandateTypePlaceholder"
                                                   formControlName="amount"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('amount').invalid && createForm.get('amount').touched"
                                                 class="alert alert-danger text-center">
                                                Amount is Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="itemListFrequency?.length > 0 && (booleans.mandateType === 'true' || booleans.mandateType)">
                                        <div class="col-md-3"><label><span class="star">*</span>Frequency</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <angular2-multiselect [data]="itemListFrequency"
                                                                  [settings]="settingsFrequency"
                                                                  formControlName="frequency">
                                            </angular2-multiselect>
                                            <div *ngIf="itemListFrequency?.length === 0 && !booleans?.loadFrequency"
                                                 class="alert alert-danger text-center">
                                                No Frequency Found
                                            </div>
                                            <div class="alert alert-warning text-center"
                                                 *ngIf="booleans?.loadFrequency && itemListFrequency?.length === 0"><i
                                                    class="fa fa-spinner fa-spin"></i> Loading Frequency
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row" *ngIf="booleans.mandateType === 'true' || booleans.mandateType">
                                        <div class="col-md-3"><label><span class="star">*</span>Mandate Date
                                            Range:</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text" name="daterangeInput"
                                                   daterangepicker [options]="options"
                                                   (selected)="selectedDate($event, daterange)"/>
                                            <div *ngIf="createForm.get('mandateStartDate').invalid && createForm.get('mandateStartDate').touched"
                                                 class="alert alert-danger text-center">
                                                Mandate Start Date is Required
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Mandate Start
                                            Date:</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="date"
                                                   formControlName="mandateStartDate"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('mandateStartDate').invalid && createForm.get('mandateStartDate').touched"
                                                 class="alert alert-danger text-center">
                                                Mandate Start Date is Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Mandate End
                                            Date:</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="date"
                                                   formControlName="mandateEndDate"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('mandateEndDate').invalid && createForm.get('mandateEndDate').touched"
                                                 class="alert alert-danger text-center">
                                                Mandate End Date is Required
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-md-3"><label>BVN:</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text"
                                                   placeholder="Enter BVN"
                                                   formControlName="bvn"
                                                   minlength="11"
                                                   maxlength="11"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('bvn').invalid && createForm.get('bvn').touched"
                                                 class="alert alert-danger text-center">
                                                BVN is Required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="itemListBank.length > 0 ">
                                        <div class="col-md-3"><label><span class="star">*</span>Bank</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <!--<span *ngIf="submit_type === 'Update'">{{list.details?.bank?.name}}</span>-->
                                            <span>
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                                <div *ngIf="itemListBank?.length === 0 && !booleans?.loadbank"
                                                     class="text-center" style="color: red">
                                                No Bank Found
                                            </div>
                                            <span *ngIf="booleans?.loadbank && itemListBank?.length > 0"><i
                                                    class="fa fa-spinner fa-spin"></i> Loading Bank(s)
                                            </span>
                                   </span>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="(createForm.value['bank'] && createForm.value['bank'][0] && createForm.value['bank'][0]['id'])">
                                        <div class="col-md-3"><label><span class="star">*</span>Account&nbsp;Number</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input"
                                                   type="text" placeholder="Account Number"
                                                   formControlName="accountNumber"
                                                   maxlength="10"
                                                   minlength="10"
                                                   (keyup)="keyupAccountNumber()"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('accountNumber').invalid && createForm.get('accountNumber').touched"
                                                 class="alert alert-danger text-center">
                                                Account Number is required and must be number
                                            </div>
                                            <div *ngIf="createForm.value['accountNumber'] !== '' && booleans.acountloader"
                                                 class="alert alert-warning text-center">
                                                <i class="fa fa-spinner fa-spin"></i> Checking Account Number
                                            </div>
                                            <!--<div *ngIf="createForm.value['accountNumber'] && createForm.value['accountNumber']?.length ===10 && createForm.value['accountNumber'].length ===10 && list.accountResult?.accountName && !booleans.acountloader"
                                                 class="alert alert-success text-center">
                                                {{list.accountResult?.accountName}}
                                            </div>-->
                                            <div *ngIf="createForm.value['accountNumber'] && !list.accountResult?.accountName && createForm.value['accountNumber'].length === 10 && isInteger && !booleans.acountloader"
                                                 class="alert alert-danger text-center">
                                                Account Number does not exist
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="list.accountResult?.accountName">
                                        <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Name</label></div>
                                        <div class="form-group m-form__group col-md-8">
                                            <input class="form-control m-input"
                                                   type="text" placeholder="Account Name"
                                                   formControlName="accountName"
                                                   readonly = true
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('accountName').invalid && createForm.get('accountName').touched"
                                                 class="alert alert-danger text-center">
                                                Account Name is Required
                                            </div>
                                        </div>
                                    </div>


                                    <!--<div class="row" *ngIf="itemListBank.length > 0 ">
                                        <div class="col-md-3"><label><span class="star">*</span>Bank</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <angular2-multiselect [data]="itemListBank"
                                                                  [settings]="settingsBank"
                                                                  formControlName="bank">
                                            </angular2-multiselect>
                                            <div *ngIf="itemListBank?.length === 0 && !booleans?.loadbank"
                                                 class="text-center" style="color: red">
                                                No Bank Found
                                            </div>
                                            <span *ngIf="booleans?.loadbank && itemListBank?.length > 0"><i
                                                    class="fa fa-spinner fa-spin"></i> Loading Bank(s)
                                            </span>
                                        </div>
                                    </div>-->
                                    <!--<div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Account Number:</label></div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text"
                                                   placeholder="Enter Account Number"
                                                   formControlName="accountNumber"
                                                   minlength="10"
                                                   maxlength="10"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('accountNumber').invalid && createForm.get('accountNumber').touched"
                                                 class="alert alert-danger text-center">
                                                Account Number. is Required
                                            </div>
                                        </div>
                                    </div>-->
                                    <!--<div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Account Name:</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input class="form-control m-input" type="text"
                                                   placeholder="Enter Account Name"
                                                   formControlName="accountName"
                                                   autocomplete="off">
                                            <div *ngIf="createForm.get('accountName').invalid && createForm.get('accountName').touched"
                                                 class="alert alert-danger text-center">
                                                Account Name. is Required
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Mandate Image:</label>
                                        </div>
                                        <div class="form-group m-form__group col-md-9">
                                            <input #myInput class="form-control m-input" id="image"
                                                   (change)="getImage($event)"
                                                   type="file"
                                                   autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3"><label><span class="star">*</span>Narration:</label></div>
                                        <div class="m-form__group col-md-9">
                                        <textarea class="form-control m-input" placeholder="Enter Narration"
                                                  formControlName="narration"
                                                  autocomplete="off"></textarea>
                                            <div *ngIf="createForm.get('narration').invalid && createForm.get('narration').touched"
                                                 class="alert alert-danger text-center">
                                                Narration is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <button type="button" *ngIf="!booleans.updateStatus"
                                                [disabled]="createForm.invalid"
                                                (click)="create()"
                                                class=" btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                                            <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loader"></i>{{submit_type}}
                                        </button>
                                        <button type="button" *ngIf="booleans.updateStatus"
                                                [disabled]="createForm.invalid"
                                                (click)="update()"
                                                class=" btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                                            <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loader"></i>{{submit_type}}
                                        </button>
                                        <button type="button" (click)="close()"
                                                class=" btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                                            Close
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <!--VIEWING MANDATE-->
                <div class="m-portlet__head" *ngIf="!booleans?.newMandateStatus">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                               <br> <div class="row">
                                    <div class="col-md-9 col-lg-9 col-sm-9 m-input-icon m-input-icon--left m-input-icon--right">
                                        <div class="custom-file" ngbTooltip="Choose Bulk File">
                                            <input type="file" class="custom-file-input" id="customFile"
                                                   (change)="onSelectFile($event.target.files)">
                                            <label *ngIf="fileName===''" class="custom-file-label" for="customFile">
                                                Choose Bulk file
                                            </label>
                                            <label *ngIf="fileName!==''" class="custom-file-label" for="customFile">
                                                {{fileName}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3" ngbTooltip="Upload File">
                                        <button type="button" [disabled]="fileName === '' || submitFile" (click)="submitBulkFile()"
                                                class="btn m-btn--pill m-btn--air btn-outline-info btn-lg">
                                            <i class="fa fa-upload"></i>
                                            <i *ngIf="submitFile" class="fa fa-spin fa-spinner"></i>
                                        </button>
                                    </div>
                                </div>
                            <!--<h3 class="m-portlet__head-text">
                                {{moduleName}}
                            </h3>-->
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-info btn-sm">Export Options</button>
                                    <!--<a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>-->
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__section cursor" (click)="downloadTemplate()">
																				<span class="m-nav__section-text">Download Template
																				</span>
                                                        </li>
                                                        <!--<li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <!--<li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						pdf (All Pages)
																					</span>
                                                            </a>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to CSV
																					</span>
                                                            </a>
                                                        </li>
                                                        <!--<li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">csv (All Pages)</span>
                                                            </a>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md-7 col-sm-8 m-portlet__head-title">
                        <div class="row m-portlet__head-text" *ngIf="booleans.authorizer">
                            <button class="col-md-3 col-sm-4 col-lg-3 btn btn-success" routerLink="approved">
                                Approved
                            </button>
                            <button class="col-md-3 col-sm-4 col-lg-3 btn btn-warning" routerLink="pending">
                                Pending
                            </button>
                            <button class="col-md-3 col-sm-4 col-lg-3 btn btn-info"
                                    routerLink="suspended">
                                Suspended
                            </button>
                            <button class="col-md-3 col-sm-4 col-lg-3 btn btn-danger" routerLink="disapproved">
                                Disapproved
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4" *ngIf="!booleans?.newMandateStatus">
                        <button *ngIf="booleans.initiator && details['roles'][0] !== 'BANK INITIATOR'" class="btn btn-success float-right" (click)="openModal()">Create</button>
                        <button style="margin-right: 5px" class="btn btn-success float-right" (click)="getSearchModal()">Search</button>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive" *ngIf="!booleans?.newMandateStatus">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mandate Code</th>
                            <th scope="col">Mandate Type</th>
                            <th scope="col">Mandate Category</th>
                            <th scope="col">Biller</th>
                            <th scope="col">Biller Subscriber Reference</th>
                            <th scope="col">Email</th>
                            <th scope="col">Payer Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Product</th>
                            <th scope="col">Mandate Advice Response Code</th>
                            <th scope="col">Debit Frequency</th>
                            <th scope="col">Debit Start Date</th>
                            <th scope="col">Debit End Date</th>
                            <th scope="col">Next Debit Date</th>
                            <th scope="col">Work-flow Status</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td><a (click)="getMandateById(data?.id)" class="cursor">{{data?.mandateCode}}</a></td>
                            <td>{{data?.mandateType}}</td>
                            <td>{{data?.mandateCategory}}</td>
                            <td>{{data?.biller?.name}}</td>
                            <td>{{data?.subscriberCode}}</td>
                            <td>{{data?.email}}</td>
                            <td>{{data?.payerName}}</td>
                            <td>{{data?.amount | currency:'N':'code'}}</td>
                            <td>{{data?.product?.name}}</td>
                            <td>{{data?.mandateAdviceResponseCode}}</td>
                            <td>{{data?.scheduleTime}}</td>
                            <td>{{data?.startDate | date}}</td>
                            <td>{{data?.endDate | date}}</td>
                            <td>{{data?.nextDebitDate | date}}</td>
                            <td>{{data?.workflowStatus}}</td>
                            <td *ngIf="booleans.initiator">
                                <switch
                                        [status]="(data?.requestStatus === 1)? true: false"
                                        [onText]="(data?.requestStatus === 1)?'Active':'Inactive'"
                                        [offText]="(data?.requestStatus === 1)?'Active':'Inactive'"
                                        [onColor]="(data?.requestStatus === 1)?'green':'red'"
                                        [offColor]="(data?.requestStatus === 1)?'green':'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="(data?.requestStatus === 1)?performAction(data?.id, 2):performAction(data?.id, 1)">
                                </switch>
                            </td>
                            <td *ngIf="!booleans.initiator">
                                <label class="badge badge-success" *ngIf="data?.requestStatus === 1">Active</label>
                                <label class="badge badge-danger" *ngIf="data?.requestStatus === 2">Suspended</label>
                            </td>
                            <td>
                                <button type="button" ngbTooltip="download Mandate Image"
                                        [disabled]="booleans?.loadImage" placement="bottom"
                                        (click)="getMandateById(data?.id)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-spin fa-spinner" *ngIf="booleans?.loadImage && data?.id === id"></i>
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button *ngIf="booleans.initiator" type="button" ngbTooltip="Edit Mandate"
                                        placement="bottom" (click)="edit(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <!--<button type="button" ngbTooltip="View Mandate" (click)="view(data)"
                                        placement="bottom"
                                        class="btn btn-sm m-btn m-btn&#45;&#45;gradient-from-primary m-btn&#45;&#45;gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>-->
                                <!--<button type="button" ngbTooltip="Delete Mandate"
                                        *ngIf="userType === 'NIBSS INITIATOR' || userType === 'BILLER INITIATOR' || user?.roles[0]['name'] === 'BANK_BILLER_INITIATOR'"
                                        (click)="showAlert(data?.id, 3)"
                                        placement="bottom"
                                        class="btn btn-sm m-btn m-btn&#45;&#45;gradient-from-danger m-btn&#45;&#45;gradient-to-danger">
                                    <i class="fa fa-remove"></i>
                                </button>-->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="17" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading Mandate(s)
                            </td>
                            <td colspan="17" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>