.easeIn {
    opacity: 0;
    display:none;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;

}

.easeOut {
    opacity: 1;
    transition: .9s ease-in-out all;
}
