<div class="modal fade" id="FormulaModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="list.fees">
                <form [formGroup]="createFormFormula">
                    <div class="row" *ngIf="list.fees?.splitType && list.fees?.splitType !== ''">
                        <div class="col-sm-3 col-md-3 col-lg-3"><label>Split Type</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9"><label><span class="badge badge-primary">{{list.fees?.splitType}}</span></label>
                        </div>
                    </div>
                    <div class="row" *ngIf="list.fees?.percentageAmount && list.fees?.percentageAmount !== ''">
                        <div class="col-sm-3 col-md-3 col-lg-3"><label>Percentage
                            Value</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9"><label><span class="badge badge-primary">{{list.fees?.percentageAmount}}</span></label>
                        </div>
                    </div>
                    <div class="row" *ngIf="list.fees?.fixedAmount && list.fees?.fixedAmount !== ''">
                        <div class="col-sm-3 col-md-3 col-lg-3"><label>Fixed Amount</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9"><label><span class="badge badge-primary">{{list.fees?.fixedAmount}}</span></label>
                        </div>
                    </div>
                    <div class="row"
                         *ngIf="list.fees && !booleans.loadFee && list.fees?.splitType && list.fees?.splitType !== ''">
                        <div class="col-md-12">
                            <label><span class="star">*</span>Beneficiary Formula</label>
                            <button (click)="onAddBeneficiary()"
                                    *ngIf="createFormFormula.get('formular')?.controls?.length !== list.beneficiaryList.length"
                                    class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                Add More Beneficiary
                            </button>
                        </div>
                    </div>
                    <br/>
                    <div style="width: 80%; margin: auto"
                         *ngIf="booleans.loadBeneficiary && list.beneficiaryList.length === 0"
                         class="alert alert-warning text-center">
                        <i class="fa fa-spinner fa-spin"></i> Loading Beneficiary
                    </div>
                    <div style="width: 80%; margin: auto"
                         *ngIf="!booleans.loadBeneficiary && list.beneficiaryList.length === 0"
                         class="alert alert-warning text-center">
                        No Beneficiary Found
                    </div>
                    <div style="width: 80%; margin: auto"
                         *ngIf="list.fees && list.fees?.length === 0 && !booleans.loadFee"
                         class="alert alert-warning text-center">
                        No Fee Configured for this biller
                    </div>
                    <div class="row">
                        <div class="col-md-12" formArrayName="formular">
                            <div *ngFor="let control of createFormFormula.get('formular')?.controls; let i = index">
                                <div formGroupName="{{i}}" class="row">
                                    <div class="col-md-1 col-sm-1 col-lg-1" ngbTooltip="Remove Formula"
                                         (click)=onRemoveBeneficiary(i)><i
                                            class="fa fa-times"
                                            style="color: red"></i>
                                    </div>
                                    <div class="form-group m-form__group col-md-6 col-sm-6 col-lg-6">
                                        <angular2-multiselect [data]="itemListBeneficiary"
                                                              [settings]="settingsBeneficiary"
                                                              (onSelect)="onItemSelectBeneficiary($event)"
                                                              (onDeSelect)="OnItemDeSelectBeneficiary($event)"
                                                              (onSelectAll)="onSelectAllBeneficiary($event)"
                                                              (onDeSelectAll)="onDeSelectAllBeneficiary($event)"
                                                              formControlName="beneficiaryId">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="form-group m-form__group col-md-5 col-sm-5 col-lg-5">
                                        <input class="form-control m-input" type="number" placeholder="Enter Fee"
                                               formControlName="fee"
                                               (keyup)="calculateTotalValue()"
                                               autocomplete="off">
                                    </div>
                                    <div style="width: 80%; margin: auto"
                                         *ngIf="(control.get('fee').invalid && control.get('fee').touched)
                                          || control.get('beneficiaryId').invalid && control.get('beneficiaryId').touched"
                                         class="alert alert-danger text-center">
                                        Beneficiary and value are required
                                    </div>
                                </div>
                            </div>
                            <div class="float-right" *ngIf="totalFeeCalculated > 0">Total Value Inputted:&nbsp;&nbsp;&nbsp; {{totalFeeCalculated}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color" *ngIf="list.fees">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button"
                        *ngIf="submit_type === 'Submit' && !booleans.loadFee && list.fees?.splitType && list.fees?.splitType !== ''"
                        (click)="submitFormula()"
                        [disabled]="createFormFormula.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>
                <button type="button"
                        *ngIf="submit_type === 'Update' && !booleans.loadFee && list.fees?.splitType && list.fees?.splitType !== ''"
                        (click)="updateFormula()"
                        [disabled]="createFormFormula.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>

            </div>
        </div>
    </div>
</div>