<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">

    <div class="m-brand  m-brand--skin-light">
        <a routerLink="/index" class="m-brand__logo">
            <img alt="" src="./assets/demo/demo7/media/img/logo/nibss.png"/>
        </a>
    </div>

    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  *ngIf="details"
         data-menu-vertical="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500" #myDiv>
        <ul  class="m-menu__nav  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
             *ngIf="!details['change_password']" data-redirect="true">
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                data-menu-submenu-toggle="click" data-redirect="true" *ngIf="user?.userType === 'NIBSS'">
                <a routerLink="/nibss" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-user"></i></div>
                    <div class="side-icon-text">NIBSS</div>
                    <span class="m-menu__link-text">
						NIBSS
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'NIBSS'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/bank" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-bag"></i></div>
                    <div class="side-icon-text">Bank</div>
                    <span class="m-menu__link-text">
						Bank
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="booleans.bankuserstatus"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/bank-user" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left"
                   data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-bag"></i></div>
                    <div class="side-icon-text">Bank User</div>
                    <span class="m-menu__link-text">
						Bank User
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType !== 'BILLER' || booleans.nibssuser"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/biller" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip"
                   data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-business"></i></div>
                    <div class="side-icon-text">Biller</div>
                    <span class="m-menu__link-text">
						Biller
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'BILLER'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/biller-user" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-business"></i></div>
                    <div class="side-icon-text">Biller User</div>
                    <span class="m-menu__link-text">
						Biller User
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'NIBSS' || user?.userType === 'BANK'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/pssp" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-notes"></i></div>
                    <div class="side-icon-text">PSSP</div>
                    <span class="m-menu__link-text">
						PSSP
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'PSSP'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/pssp-user" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-notes"></i></div>
                    <div class="side-icon-text">PSSP User</div>
                    <span class="m-menu__link-text">
						PSSP User
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;bottom" aria-haspopup="true"
                *ngIf="booleans.mandateauthorizer"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/mandate/pending" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-interface"></i></div>
                    <div class="side-icon-text">Mandate</div>
                    <span class="m-menu__link-text">
						Mandate
					</span>
                    &lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;
                </a>
            </li>-->
            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'BANK' && details?.roles[0]['name'] !== 'BANK_BILLER_INITIATOR' && details?.roles[0]['name'] !== 'BANK_BILLER_AUTHORIZER'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/mandate/bank" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-interface"></i></div>
                    <div class="side-icon-text">Mandate</div>
                    <span class="m-menu__link-text">
						Mandate
					</span>
                    &lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;
                </a>
            </li>-->
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="booleans.mandateinitiator || booleans.mandateauthorizer"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/mandate" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-interface"></i></div>
                    <div class="side-icon-text">Mandate</div>
                    <span class="m-menu__link-text">
						Mandate
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'NIBSS'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/industry" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-rocket"></i></div>
                    <div class="side-icon-text">Category</div>
                    <span class="m-menu__link-text">
						Category
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li *ngIf="user?.userType === 'BILLER'" class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/products" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-cart"></i></div>
                    <div class="side-icon-text">Product</div>
                    <span class="m-menu__link-text">
						Product
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'NIBSS'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/audit" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left"
                   data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-rocket"></i></div>
                    <div class="side-icon-text">Audit</div>
                    <span class="m-menu__link-text">
						Audit
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'NIBSS'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/nibss/transaction-billing" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left"
                   data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-rocket"></i></div>
                    <div class="side-icon-text">Transactions</div>
                    <span class="m-menu__link-text">
						Transactions
					</span>
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
            </li>

            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;bottom" aria-haspopup="true"
                *ngIf="user?.userType === 'NIBSS'"
                data-menu-submenu-toggle="click" data-redirect="true">
                <a routerLink="/settings" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left"
                   data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-rocket"></i></div>
                    <div class="side-icon-text">Settings</div>
                    <span class="m-menu__link-text">
						Settings
					</span>
                    &lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;
                </a>
            </li>-->

            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;bottom" aria-haspopup="true"
                data-menu-submenu-toggle="click" data-redirect="true" *ngIf="booleans.configurestatus">
                <a routerLink="/fees" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-transport"></i></div>
                    <div class="side-icon-text">Fees</div>
                    <span class="m-menu__link-text">
						Fees
					</span>
                    &lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;
                </a>
            </li>
            <li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;bottom" aria-haspopup="true"
                data-menu-submenu-toggle="click" data-redirect="true" *ngIf="booleans.configurestatus">
                <a routerLink="/beneficiary" class="m-menu__link m-menu__toggle" data-toggle="m-tooltip" data-placement="left" data-dismiss="m-tooltip">
                    <div class="side-icon"><i class="m-menu__link-icon flaticon-user-add"></i></div>
                    <div class="side-icon-text">Beneficiary</div>
                    <span class="m-menu__link-text">
						Beneficiary
					</span>
                    &lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;
                </a>
            </li>-->
            <br/><br/><br/><br/>
        </ul>
    </div>
</div>
<div class="m-aside-menu-overlay"></div>
