<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list?.details">
                    <table class="table table-striped">
                        <tr>
                            <td>User</td>
                            <td>{{list?.details?.user}}</td>
                        </tr>
                        <tr>
                            <td>Action Performed</td>
                            <td>{{list?.details?.action}}</td>
                        </tr>
                        <tr>
                            <td>Class Name</td>
                            <td>{{list?.details?.className}}</td>
                        </tr>
                    </table>
                    <table class="table table-striped">
                        <tr style="background-color: #0a8cf0 !important; color: #FFFFFF !important;"
                            *ngIf="updateObj?.length > 0">
                            <td>Property</td>
                            <td>Old Value</td>
                            <td>New Value</td>
                        </tr>
                        <tr *ngFor="let obj of updateObj; let i = index">
                            <td>{{obj?.index}}</td>
                            <td>{{obj?.oldvalue || 'null'}}</td>
                            <td>{{obj?.newvalue || 'null'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Transaction
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Billings
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text cursor" (click)="onGetTransactions(0)">
                                Transactions
                            </h3>
                        </div>
                    </div>
                    <!--<div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						 pdf (Current Page)
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						pdf (All Pages)
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						csv (Current Page)
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						csv (All Pages)
																					</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </div>
                <div class="m-portlet__body table-responsive">
                    <form class="m-form">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="margin-approval">
                                    <form [formGroup]="dateRangeSearchForm">
                                        <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                            <input class="form-control form-control-lg m-input m-input--pill"
                                                   placeholder="From"
                                                   ngbDatepicker #d1="ngbDatepicker"
                                                   (click)="d1.toggle()" formControlName="from">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                                        <span>
                                                                    <i class="la la-calendar-check-o"></i>
                                                                </span>
                                                            </span>
                                        </div>
                                        <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                            <input class="form-control form-control-lg m-input m-input--pill"
                                                   placeholder="To"
                                                   ngbDatepicker #d2="ngbDatepicker"
                                                   (click)="d2.toggle()" formControlName="to">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </span>
                                        </div>
                                        <div class="m-input-icon m-input-icon--fixed">
                                            <button class="btn btn-success" *ngIf="booleans?.loadsearch">
                                                <i class="fa fa-spin fa-spinner"></i>
                                            </button>
                                            <button class="btn btn-success" (click)="dateRangeSearchbyLog()"
                                                    *ngIf="!booleans?.loadsearch">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <button class="btn btn-success" (click)="dateRangeSearchbyLog('download')"
                                                    *ngIf="!booleans?.loadsearch">
                                                <i class="fa fa-download"></i>
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Bank Code</th>
                            <th scope="col">SmartDetCode</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.bankCode}}</td>
                            <td>{{data?.smartDetCode}}</td>
                            <td>{{data?.date}}</td>
                         </tr>
                        <tr>
                            <td colspan="6" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Transaction(s)
                            </td>
                            <td colspan="6" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>