<!-- BEGIN: Header -->
<app-notification></app-notification>
<header class="m-grid__item    m-header" data-minimize-offset="200" data-minimize-mobile-offset="200" appunwraptag="">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a routerLink="/index" class="m-brand__logo-wrapper">
                            <img alt="" src="./assets/demo/demo7/media/img/logo/nibss.png"/>
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle"
                           class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                           class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->                            <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                           class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light"
                        id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>

                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline">
                            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                data-dropdown-toggle="click">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                    <div style="margin-top: 50% !important; font-weight: bold">
                                        {{this.userservice.getAuthUser()?.userType}}&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <span class="m-topbar__userpic m--hide">
										<img src="./assets/app/media/img/users/user4.jpg"
                                             class="m--img-rounded m--marginless m--img-centered" alt=""/>
									</span>
                                    <span class="m-nav__link-icon m-topbar__usericon">
										<span class="m-nav__link-icon-wrapper">
											<i class="flaticon-user-ok"></i>
										</span>
									</span>
                                    <span class="m-topbar__username m--hide">
										{{userservice.getAuthUser()?.emailAddress}}
									</span>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__header m--align-center">
                                            <div class="m-card-user m-card-user--skin-light">
                                                <div class="m-card-user__pic">
                                                    <img src="./assets/app/media/img/users/user4.jpg"
                                                         class="m--img-rounded m--marginless" alt=""/>
                                                </div>
                                                <div class="m-card-user__details" *ngIf="details">
													<span class="m-card-user__name m--font-weight-300">
														{{userservice.getAuthUser()?.emailAddress}}
													</span>
                                                    <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                        {{userservice.getAuthUser()?.roles[0] | transformtext}}
                                                    </a><!--<br/>
													<a href="" class="m-card-user__email m&#45;&#45;font-weight-300 m-link">
														{{user}}
													</a>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav m-nav--skin-light" *ngIf="details">
                                                    <li class="m-nav__section m--hide">
														<span class="m-nav__section-text">
															Section
														</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a routerLink="/profile" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                            <span class="m-nav__link-title">
																<span class="m-nav__link-wrap">
																	<span class="m-nav__link-text">
																		My Profile
																	</span>
																</span>
															</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item cursor"
                                                        *ngIf="details?.roles[0]['description']==='BILLER_ADMIN_INITIATOR' || details?.roles[0]['description']==='BANK_ADMIN_INITIATOR'">
                                                        <a (click)="onResetEmandatePassword()" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                            <span class="m-nav__link-title">
																<span class="m-nav__link-wrap">
																	<span class="m-nav__link-text">
																		Reset Emandate Password
																		<div *ngIf="loader">Resetting Password <i
                                                                                class="fa fa-spin fa-spinner"></i></div>
																	</span>
																</span>
															</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                                                           (click)="logout()">
                                                            Logout
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Topbar -->
            </div>
        </div>
    </div>
</header>
<!-- END: Header -->
