<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator cursor" routerLink="/">
                Dashboard
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
                                Transactions
						</span>
                    </a>
                </li>
                <!--<li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Generate Reports
                        </span>
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text cursor">
                                <span *ngIf="transactionType !== ''">
                                    {{transactionType | firstLetterTopUpperCase}} / </span>
                                Transactions
                                <span *ngIf="status">(for the last six months)</span>
                                <span *ngIf="!status">(for the last {{durationLabel}} {{durationtypeLabel}}{{(durationLabel>1?'s':'')}})</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m--font-brand"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <!--<li class="m-nav__item">                                                            <a href="" class="m-nav__link">                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>                                                                <span class="m-nav__link-text">																						Download Template																					</span>                                                            </a>                                                        </li>-->
                                                        <!--<li class="m-nav__item">                                                            <a href="" class="m-nav__link">                                                                <i class="m-nav__link-icon flaticon-multimedia-2"></i>                                                                <span class="m-nav__link-text">																						Upload Template																					</span>                                                            </a>                                                        </li>-->
                                                        <li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to pdf
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                <span class="m-nav__link-text">
																						Export to csv
																					</span>
                                                            </a>
                                                        </li>
                                                        <!--<li class="m-nav__item">                                                            <a href="" class="m-nav__link">                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>                                                                <span class="m-nav__link-text">																						Export to excel																					</span>                                                            </a>                                                        </li>-->
                                                        <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                                                        <!--<li class="m-nav__item m&#45;&#45;hide">                                                            <a href="#"                                                               class="btn btn-outline-danger m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;wide btn-sm">                                                                Submit                                                            </a>                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="margin-approval">
                        <h3 class="m-portlet__head-text cursor float-right">
                            <button class="btn" [style.background-color]="type === 'successful'? 'green': ''"
                                    [style.color]="type === 'successful'? 'white': ''"
                                    (click)="switch('successful')">Successful</button>
                            <button class="btn" [style.background-color]="type === 'unsuccessful'? 'green': ''"
                                    [style.color]="type === 'unsuccessful'? 'white': ''"
                                    (click)="switch('unsuccessful')">Unsuccessful</button>
                        </h3>
                        <div style="clear: both"></div>
                    </div>
                    <div class="row" style="width: 70%; margin: auto" *ngIf="!status">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <span>Duration Type</span> {{status}}
                            <select class="form-control m-input" [(ngModel)]="durationtype" name="durationtype">
                                <option value="year">Year</option>
                                <option value="month">Month</option>
                            </select>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <span>Duration</span>
                            <input class="form-control m-input" type="number" [(ngModel)]="duration" name="duration">
                        </div>
                        <div class=" col-sm-2 col-md-2 col-lg-2">
                            <span>&nbsp;</span>
                            <button (click)="onSearchTransaction()"
                                    class="btn btn-success">Search
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Biller</th>
                            <th scope="col">Value</th>
                            <th scope="col">Volume</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.biller}}</td>
                            <td>{{data?.value}}</td>
                            <td>{{data?.volume}}</td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading Report(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
