@import "../../../../.././assets/vendors/custom/fullcalendar/fullcalendar.bundle.css";
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font-family: Lato;
    font-size: 12px;
}

#chartdiv {
    width: 900px;
    max-width: 100%;
    height: 300px;
    border: 2px solid #eee;
    border-bottom: none;
}

#chartdata {
    width: 900px;
    max-width: 100%;
    border: 2px solid #eee;
    border-top: none;
}

#chartdata * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#chartdata table {
    width: 100%;
    border-collapse: collapse;
}

#chartdata table th,
#chartdata table td {
    text-align: center;
    padding: 5px 7px;
}

#chartdata table th {
    background: #999;
    color: #fff;
}

#chartdata table td {
    border: 1px solid #eee;
}

#chartdata table td.row-title {
    font-weight: bold;
    width: 150px;
}

#chartdata tr:hover td {
    background: #eee;
    cursor: pointer;
}

.margin-round {
    margin: 1%;
}

.div-height {
    height: 10%;
    width: 5%;
}

.font-size {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    color: black;
}

.sub-font-style {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
    color: black;
}