<div class="modal fade" id="FeesModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormBearer">
                    <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>MarkUp Fee</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <select class="form-control m-input" (change)="onSelect($event)"
                                    type="text"
                                    formControlName="markUpFeeSelected"
                                    autocomplete="off">
                                <option></option>
                                <option value="true">YES</option>
                                <option value="false">NO</option>
                            </select>
                            <div class="alert alert-danger" role="alert" *ngIf="error.percentageError !== ''">
                                {{error.percentageError}}
                            </div>
                        </div>
                    </div>

                    <div class="row"
                         *ngIf="showAmount && bearerType === 'Biller' ||
                         (createFormBearer['value']['debitAtTransactionTime'] &&
                          createFormBearer['value']['debitAtTransactionTime'] === true)">
                        <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                        </div>
                        <div class="form-group m-form__group col-md-8">
                            <input class="form-control m-input"
                                   type="text" placeholder="Account Number"
                                   formControlName="billerDebitAccountNumber"
                                   maxlength="10"
                                   minlength="10"
                                   (change)="verifyAccountNo()"
                                   autocomplete="off">
                        </div>
                    </div>

                    <span *ngIf="booleans.markUpFeeSelected === true">
                        <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Bearer</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <angular2-multiselect [data]="itemListBearer"
                                                  [settings]="settingsBearer"
                                                  formControlName="feeBearerItem"
                                                  (onSelect)="onItemSelectBearer($event)"
                                                  (onDeSelect)="OnItemDeSelectBearer($event)"
                                                  (onSelectAll)="onSelectAllBearer($event)"
                                                  (onDeSelectAll)="onDeSelectAllBearer($event)">
                            </angular2-multiselect>
                        </div>
                    </div>

                    <div class="row"
                         *ngIf="bearerType === 'Biller' || (createFormBearer['value']['feeBearer'] && createFormBearer['value']['feeBearer'][0] && createFormBearer['value']['feeBearer'][0]['id'] === 'Biller')">
                        <div class="col-md-4"></div>
                        <div class="form-group m-form__group col-md-8">
                            <input class=" m-input"
                                   type="checkbox"
                                   formControlName="debitAtTransactionTime"
                                   value="true"
                                   autocomplete="off"
                                   (change)="onTransactionType()">
                            <label>Do not debit at transaction time</label>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4"><label><span class="star">*</span>Markup Fee Amount</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <input class="form-control m-input" (change)="checkAmountValue($event)"
                                       type="text" placeholder="Markup Fee Amount"
                                       formControlName="markUpFee"
                                       autocomplete="off">
                                <div class="alert alert-danger" role="alert" *ngIf="error.percentageError !== ''">
                                    {{error.percentageError}}
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="details?.userType !== 'BANK'">
                            <div class="col-md-4"><label><span class="star">*</span>Bank</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <span *ngIf="submit_type === 'Update'">{{list.details?.bank?.name}}</span>
                                <span *ngIf="submit_type !== 'Update'">
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                   </span>
                            </div>
                        </div>
                        <div class="row" *ngIf="details?.userType !== 'BANK' && (createFormBearer.value['bank']
                        && createFormBearer.value['bank'][0] && createFormBearer.value['bank'][0]['id'])">
                            <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                            </div>
                            <div class="form-group m-form__group col-md-8">
                                <input class="form-control m-input"
                                       type="text" placeholder="Account Number"
                                       formControlName="accountNumber"
                                       maxlength="10"
                                       minlength="10"
                                       (keyup)="keyupAccountNumber()"
                                       autocomplete="off">
                                <div *ngIf="createFormBearer.get('accountNumber').invalid && createFormBearer.get('accountNumber').touched"
                                     class="alert alert-danger text-center">
                                    Account Number is required and must be number
                                </div>
                                <div *ngIf="createFormBearer.value['accountNumber'] !== '' && booleans.acountloader"
                                     class="alert alert-warning text-center">
                                    <i class="fa fa-spinner fa-spin"></i> Checking Account Number
                                </div>
                                <!--<div *ngIf="createFormBearer.value['accountNumber'] && createFormBearer.value['accountNumber'] !== '' && createFormBearer.value['accountNumber'].length ===10 && list.accountResult?.accountName && !booleans.acountloader"
                                     class="alert alert-success text-center">
                                    {{list.accountResult?.accountName}}
                                </div>-->
                                <div *ngIf="createFormBearer.value['accountNumber'] && createFormBearer.value['accountNumber']?.length ===10 && !list.accountResult?.accountName && !booleans.acountloader"
                                     class="alert alert-danger text-center">
                                    Account Number does not exist
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="list.accountResult?.accountName">
                            <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Name</label></div>
                            <div class="form-group m-form__group col-md-8">
                                <input class="form-control m-input"
                                       type="text" placeholder="Account Name"
                                       formControlName="accountName"
                                       readonly = true
                                       autocomplete="off">
                                <div *ngIf="createFormBearer.get('accountName').invalid && createFormBearer.get('accountName').touched"
                                     class="alert alert-danger text-center">
                                    Account Name is Required
                                </div>
                            </div>
                        </div>
                    </span>

                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" *ngIf="feeSubmitType === 'Submit'" (click)="createFees()"
                        [disabled]="createFormBearer.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>Submit
                </button>
                <button type="button" *ngIf="feeSubmitType === 'Update'" (click)="(editFees)?updateFees(): showAlert()"
                        [disabled]="createFormBearer.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>Update
                </button>

            </div>
        </div>
    </div>
</div>

