<app-fee-configuration></app-fee-configuration>

<app-sharing-formular></app-sharing-formular>

<!--reason Modal-->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal3">
                    <span>Reason For Disapproving</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <form [formGroup]='formReason'>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" formControlName="reason" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close" [disabled]="formReason.invalid"
                        (click)="disapprove()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadAction && approvalType === 'disapprove'"></i> Disapprove
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>Search</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormSearch">
                    <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Biller Name</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <input class="form-control m-input"
                                    formControlName="billerName"
                                    autocomplete="off"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Bearer</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <select class="form-control m-input"
                                    formControlName="feeBearer"
                                    autocomplete="off">
                                <option value="Bank">Bank</option>
                                <option value="Biller">Biller</option>
                                <option value="Subscriber">Subscriber</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                        </div>
                        <div class="form-group m-form__group col-md-8">
                            <input class="form-control m-input"
                                   type="text" placeholder="Account Number"
                                   formControlName="billerAccNumber"
                                   maxlength="10"
                                   minlength="10"
                                   (keyup)="verifyAccountNo()"
                                   autocomplete="off">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="error.accountnoerror">
                            10 digit Account No. is required
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Split Type</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <select class="form-control m-input"
                                    formControlName="splitType"
                                    autocomplete="off">
                                <option>Fixed</option>
                                <option>Percentage</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Fixed Amount</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <input class="form-control m-input" (change)="checkAmountValue($event)"
                                   type="text" placeholder="Fixed Amount"
                                   formControlName="fixedAmount"
                                   autocomplete="off">
                            <div class="alert alert-danger" role="alert" *ngIf="error.percentageError !== ''">
                                {{error.percentageError}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label><span class="star">*</span>Percentage Value</label></div>
                        <div class="form-group m-form__group col-md-8">
                            <input class="form-control m-input" (change)="checkPercentageValue($event)"
                                   type="text" placeholder="Value in %"
                                   formControlName="percentageAmount"
                                   autocomplete="off">
                            <div class="alert alert-danger" role="alert" *ngIf="error.percentageError !== ''">
                                {{error.percentageError}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" (click)="searchMethod(0)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.loadingSearch"></i>Search
                </button>
                <button type="button" (click)="exportCsvSearch()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.csvsearchloader"></i>CSV Export
                </button>
                <button type="button" (click)="exportPdfSearch()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.pdfsearchloader"></i>PDF Export
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset type="pills">
                    <ngb-tab title="Fees Details">
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Fee Bearer</td>
                                        <td>{{list.details?.feeBearer}}</td>
                                    </tr>
                                    <tr>
                                        <td>Split Type</td>
                                        <td>{{list.details?.splitType}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed Amount</td>
                                        <td>{{list.details?.fixedAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Percentage Amount</td>
                                        <td>{{list.details?.percentageAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Biller Debit Account Number</td>
                                        <td>{{list.details?.billerDebitAccountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Debit At Transaction Time</td>
                                        <td>{{list.details?.debitAtTransactionTime}}</td>
                                    </tr>

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Biller Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Company Name</td>
                                        <td>{{list.details?.biller?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>RC Number</td>
                                        <td>{{list.details?.biller?.rcNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td>{{list.details?.biller?.accountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Name</td>
                                        <td>{{list.details?.biller?.accountName}}</td>
                                    </tr>
                                    <tr>
                                        <td>BVN</td>
                                        <td>{{list.details?.biller?.bvn}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bank</td>
                                        <td>{{list.details?.biller?.bank?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Industry</td>
                                        <td>{{list.details?.biller?.industry?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{list.details?.biller?.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Created</td>
                                        <td>{{list.details?.biller?.createdAt | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{list.details?.biller?.updatedAt | date}}</td>
                                    </tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Billers
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text cursor" (click)="getMainPage()">
                                {{moduleName}}
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-info btn-sm">Export Options</button>
                                    <!--<a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>-->
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <!--<li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <!--<li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						pdf (All Pages)
																					</span>
                                                            </a>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to CSV
																					</span>
                                                            </a>
                                                        </li>
                                                        <!--<li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">csv (All Pages)</span>
                                                            </a>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                        <div>
                            <button class="btn btn-success" *ngIf="booleans.initiator || booleans.authorizer" (click)="getParam(approvalName+'/approved')">
                                Approved
                            </button>
                            <button class="btn btn-warning" *ngIf="booleans.initiator || booleans.authorizer" (click)="getParam(approvalName+'/pending')">
                                Pending
                            </button>
                            <button class="btn btn-danger" *ngIf="booleans.initiator || booleans.authorizer" (click)="getParam(approvalName+'/disapproved')">
                                Disapproved
                            </button>
                            <!--<button class="btn btn-success float-right create-search-style" *ngIf="booleans.initiator"
                                    (click)="openModal()">Create
                            </button>-->
                            <button class="btn btn-outline-primary float-right" (click)="getSearchModal()">Search</button>
                          </div>
                    <br/>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fees Bearer</th>
                            <th scope="col">Split Type</th>
                            <th scope="col">Biller Name</th>
                            <th scope="col">Account Name</th>
                            <th scope="col">Account No.</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.feeBearer}}</td>
                            <td>{{data?.splitType}}</td>
                            <td>{{data?.biller?.name}}</td>
                            <td>{{data?.biller?.accountName}}</td>
                            <td>{{data?.biller?.accountNumber}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" ngbTooltip="Approve"
                                        placement="bottom" *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="approve(data?.id, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'approve' && data.id === id"></i>
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ngbTooltip="Reject" placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="getReason(data, data?.authorizationStatus)" [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'disapprove' && data.id === id"></i>
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <button type="button"
                                        ngbTooltip="View Detail"
                                        placement="bottom"
                                        (click)="view(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button *ngIf="booleans.initiator  && approvalStatus === ''" type="button" placement="bottom"
                                        (click)="setupFees(data?.biller)"
                                        ngbTooltip="Edit Fees" [disabled]="booleans?.loadsetupFees && data?.id === id"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-spinner fa-spin"
                                       *ngIf="booleans?.loadsetupFees && data?.id === id"></i>
                                    <i class="fa fa-fax"></i>
                                </button>
                                <button type="button" *ngIf="booleans.initiator  && approvalStatus === ''" placement="bottom"
                                        (click)="setFormulae(data?.biller)"
                                        ngbTooltip="Setup Beneficiary Formula"
                                        [disabled]="booleans?.loadFee && data?.id === id"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadFee && data?.id === id"></i>
                                    <i class="fa fa-user-circle"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading Fee(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="(approvalStatus === '')?getPage($event): getApprovalPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>