<!-- Modal -->
<div class="modal fade" id="viewBillerTransactionGraph" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 200% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Transaction Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-xl-12 col-md-12 col-lg-12">
                        <div *ngIf="type === 'biller'">
                            <angular2-multiselect [data]="itemListBiller" [(ngModel)]="selectedItemsBiller"
                                                  [settings]="settingsBiller"
                                                  (onSelect)="onItemSelectBiller($event)"
                                                  (onDeSelect)="OnItemDeSelectBiller($event)"
                                                  (model)="name">
                            </angular2-multiselect>
                        </div>
                        <div *ngIf="type === 'bank'">
                            <angular2-multiselect [data]="itemListBank" [(ngModel)]="selectedItemsBank"
                                                  [settings]="settingsBank"
                                                  (onSelect)="onItemSelectBank($event)"
                                                  (onDeSelect)="OnItemDeSelectBank($event)"
                                                  (model)="name">
                            </angular2-multiselect>
                        </div>
                        <div id="transactionDetailDiv" [style.width.%]="100" [style.height.px]="500"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewUserTransactionGraph" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 200% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">User Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-xl-12 col-md-12 col-lg-12">
                        <div class="float-left div-height" style="background-color: orange">&nbsp;</div>
                        <span class="float-left margin-round">Active</span>
                        <div class="float-left div-height" style="background-color: yellow; margin-left: 10%">&nbsp;
                        </div>
                        <span class="float-left margin-round">Inactive</span>
                        <div style="clear: both"></div>
                        <div id="userDetails" [style.width.%]="100" [style.height.px]="200"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator cursor" routerLink="/">
                Dashboard
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text cursor" routerLink="/">
							Dashboard
						</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
            </span>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <!--Begin::Section-->
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">

            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-6 col-md-6 col-lg-6 cursor">
                    <div class="font-size">Billers</div>
                    <div class="cursor" id="billerChartdiv" [style.width.%]="100" [style.height.px]="300"
                         routerLink="/index/transactions/biller/successful"></div>
                </div>

                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div id="mandateChartDiv" class="cursor" [style.width.%]="100" [style.height.px]="400"
                         routerLink="/index/mandate-report"></div>
                </div>
            </div>

            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="font-size">Successful Transaction</div>
                    <div class="sub-font-style">Total Volume</div>
                    <div class="cursor" id="trantractionChartDiv1" [style.width.%]="100" [style.height.px]="120"
                         [routerLink]="'/index/transactions/successful'"></div>
                    <div class="sub-font-style">Total Value</div>
                    <div class="cursor" id="trantractionChartDiv2" [style.width.%]="100" [style.height.px]="120"
                         [routerLink]="'/index/transactions/successful'"></div>
                </div>

                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="font-size">Unsuccessful Transaction</div>
                    <div class="sub-font-style">Total Volume</div>
                    <div class="cursor" id="trantractionChartDiv3" [style.width.%]="100" [style.height.px]="120"
                         [routerLink]="'/index/transactions/unsuccessful'"></div>
                    <div class="sub-font-style">Total Volume</div>
                    <div class="cursor" id="trantractionChartDiv4" [style.width.%]="100" [style.height.px]="120"
                         [routerLink]="'/index/transactions/unsuccessful'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
