
<!--reason Modal-->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal3">
                    <span>Reason For Disapproving</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <form [formGroup]='formReason'>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" formControlName="reason" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close" [disabled]="formReason.invalid"
                        (click)="disapprove()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadAction && approvalType === 'disapprove'"></i> Disapprove
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row" *ngIf="details">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>PSSP&nbsp;Name</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" type="text" placeholder="PSSP Name"
                                           formControlName="psspName"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('psspName').invalid && createForm.get('psspName').touched"
                                         class="alert alert-danger text-center">
                                        Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>RC&nbsp;Number</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" type="text"
                                           placeholder="RC Number"
                                           formControlName="rcNumber"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('rcNumber').invalid && createForm.get('rcNumber').touched"
                                         class="alert alert-danger text-center">
                                        <span *ngIf="createForm?.value?.rcNumber?.length > 0">Number is Required</span>
                                        <span *ngIf="createForm?.value?.rcNumber?.length === 0">RC&nbsp;Number is Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Category</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <angular2-multiselect [data]="itemListIndustry"
                                                          [settings]="settingsIndustry"
                                                          formControlName="industry">
                                    </angular2-multiselect>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>BVN</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="BVN"
                                           formControlName="bvn"
                                           minlength="11"
                                           maxlength="11"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('bvn').invalid && createForm.get('bvn').touched"
                                         class="alert alert-danger text-center">
                                        <span *ngIf="createForm?.value?.bvn?.length > 0">Number is Required</span>
                                        <span *ngIf="createForm?.value?.bvn?.length === 0">BVN is Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="details">
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Bank</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <span *ngIf="submit_type === 'Update' || user?.userType === 'BANK' ">{{user?.userBank?.name}}</span>
                                    <span *ngIf="submit_type !== 'Update' && user?.userType !== 'BANK'">
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                   </span>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Number</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Account Number"
                                           formControlName="accountNumber"
                                           maxlength="10"
                                           minlength="10"
                                           (keyup)="keyupAccountNumber()"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('accountNumber').invalid && !list.accountResult?.accountName && createForm.get('accountNumber').touched"
                                         class="alert alert-danger text-center">
                                        <span *ngIf="createForm?.value?.accountNumber?.length > 0">Number is Required</span>
                                        <span *ngIf="createForm?.value?.accountNumber?.length === 0">Account Number is Required</span>
                                    </div>
                                    <div *ngIf="createForm.value['accountNumber'] !== '' && booleans.acountloader"
                                         class="alert alert-warning text-center">
                                        <i class="fa fa-spinner fa-spin"></i> Checking Account Number
                                    </div>
                                    <!--<div *ngIf="createForm.value['accountNumber'] && createForm.value['accountNumber']?.length ===10 && createForm.value['accountNumber'].length ===10 && list.accountResult?.accountName && !booleans.acountloader"
                                         class="alert alert-success text-center">
                                        {{list.accountResult?.accountName}}
                                    </div>-->
                                    <div *ngIf="createForm.value['accountNumber'] && !list.accountResult?.accountName && createForm?.value?.accountNumber?.length === 10 && isInteger && !booleans.acountloader"
                                         class="alert alert-danger text-center">
                                        Account Number does not exist
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="list.accountResult?.accountName">
                                <div class="col-md-4"><label><span class="star">*</span>Account&nbsp;Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" readonly placeholder="Account Name"
                                           formControlName="accountName"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('accountName').invalid && createForm.get('accountName').touched"
                                         class="alert alert-danger text-center">
                                        Account Name is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Description</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <textarea class="form-control m-input" formControlName="description"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" *ngIf="submit_type === 'Submit'" (click)="submit()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>
                <button type="button" *ngIf="submit_type === 'Update'" (click)="update()"
                        [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>Search</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormSearch">
                    <div class="row" *ngIf="details">
                        <div class="col-md-4">
                            <!--<div class="row">
                                <div class="col-md-4"><label><span class="star"></span>PSSP&nbsp;Name</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" type="text" placeholder="PSSP Name"
                                           formControlName="psspName"
                                           autocomplete="off">
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-4"><label><span class="star"></span>RC&nbsp;Number</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" type="number"
                                           placeholder="RC Number"
                                           formControlName="rcNumber"
                                           autocomplete="off">
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Industry</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <angular2-multiselect [data]="itemListIndustry"
                                                          [settings]="settingsIndustry"
                                                          formControlName="industry">
                                    </angular2-multiselect>
                                </div>
                            </div>-->
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4"><label><span class="star"></span>BVN</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="BVN"
                                           formControlName="bvn"
                                           minlength="11"
                                           maxlength="11"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('bvn').invalid && createForm.get('bvn').touched"
                                         class="alert alert-danger text-center">
                                        BVN is required and must be number
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row" >
                                 <div class="col-md-4"><label><span class="star">*</span> PSSP Type</label>
                                 </div>
                                 <div class="form-group m-form__group col-md-8">
                                     <table class="table">
                                         <tr>
                                             <td><label>PSSP</label></td>
                                             <td><input type="radio" placeholder="code"
                                                        formControlName="selfPSSP" name="selfPSSP"
                                                        [value]="false">
                                             </td>
                                         </tr>
                                         <tr>
                                             <td><label>{{details?.userType | firstLetterTopUpperCase}} PSSP</label></td>
                                             <td>
                                                 <div class="form-group m-form__group">
                                                     <input type="radio" placeholder="code" name="selfPSSP"
                                                            formControlName="selfPSSP" [value]="true">
                                                 </div>
                                             </td>
                                         </tr>
                                     </table>
 
                                 </div>
                             </div>-->
                        </div>
                        <div class="col-md-4" *ngIf="details">
                            <div class="row">
                                <div class="col-md-4"><label><span class="star"></span>Account&nbsp;No.</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Account Number"
                                           formControlName="accountNumber"
                                           maxlength="10"
                                           minlength="10"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('accountNumber').invalid && createForm.get('accountNumber').touched"
                                         class="alert alert-danger text-center">
                                        Account Number is required and must be number
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-4"><label><span class="star"></span>Account&nbsp;Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Account Name"
                                           formControlName="accountName"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('accountName').invalid && createForm.get('accountName').touched"
                                         class="alert alert-danger text-center">
                                        Account Name is Required
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="row">
                                <div class="col-md-4"><label>Domain Name</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input"
                                           type="text" placeholder="Domain Name"
                                           formControlName="domainName"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('domainName').invalid && createForm.get('domainName').touched"
                                         class="alert alert-danger text-center">
                                        Domain Name is Required
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="row" *ngIf="details?.userType !== 'BANK'">
                                <div class="col-md-4"><label><span class="star"></span>Bank</label></div>
                                <div class="form-group m-form__group col-md-8">
                                    <span *ngIf="submit_type === 'Update'">{{list.details?.bank?.name}}</span>
                                    <span *ngIf="submit_type !== 'Update'">
                                       <angular2-multiselect [data]="itemListBank"
                                                             [settings]="settingsBank"
                                                             formControlName="bank">
                                    </angular2-multiselect>
                                   </span>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" (click)="searchMethod(0)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.loadingSearch"></i>Search
                </button>
                <!--<button type="button" (click)="exportCsvSearch()"
                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.csvsearchloader"></i>CSV Export
                </button>
                <button type="button" (click)="exportPdfSearch()"
                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.pdfsearchloader"></i>PDF Export
                </button>-->
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>


            </div>
        </div>
    </div>
</div>



<!--view Modal-->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal2">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset type="pills">
                    <ngb-tab>
                        <ng-template ngbTabTitle>PSSP Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped">
                                    <tr>
                                        <td>PSSP Name</td>
                                        <td>{{list.details?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>RC Number</td>
                                        <td>{{list.details?.rcNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td>{{list.details?.accountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Name</td>
                                        <td>{{list.details?.accountName}}</td>
                                    </tr>
                                    <tr>
                                        <td>BVN</td>
                                        <td>{{list.details?.bvn}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bank</td>
                                        <td>{{list.details?.bank?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>{{list.details?.industry?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{list.details?.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Created</td>
                                        <td>{{list.details?.createdAt | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{list.details?.updatedAt | date}}</td>
                                    </tr>
                                    <tr *ngIf="approvalStatus !== ''">
                                        <td>Authorization</td>
                                        <td>{{list.details?.authorizationStatus | removeUnderscore | firstLetterTopUpperCase}}</td>
                                    </tr>
                                    <tr *ngIf="approvalStatus === 'Disapproved'">
                                        <td>Reason</td>
                                        <td>{{list.details?.reason}}</td>
                                    </tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Fees Details">
                        <ng-template ngbTabContent>
                            <div class="table-responsive" *ngIf="list.details">
                                <table class="table table-striped" *ngIf="list.fees?.feeBearer">
                                    <tr>
                                        <td>Fee Bearer</td>
                                        <td>{{list.fees?.feeBearer}}</td>
                                    </tr>
                                    <tr>
                                        <td>Split Type</td>
                                        <td>{{list.fees?.splitType}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed Amount</td>
                                        <td>{{list.fees?.fixedAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Percentage Amount</td>
                                        <td>{{list.fees?.percentageAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Debit Account Number</td>
                                        <td>{{list.fees?.psspDebitAccountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Debit At Transaction Time</td>
                                        <td>{{list.fees?.debitAtTransactionTime}}</td>
                                    </tr>
                                </table>
                                <table class="table table-striped" *ngIf="list?.fees.length === 0">
                                    <tr class="text-center">No Fee Configured for this PSSP</tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator cursor" (click)="getPSSP(0, pagesize)">
                PSSP
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text cursor" (click)="getPSSP(0, pagesize)">
                                <span *ngIf="approvalStatus !== ''">{{approvalStatus | transformtext}}</span> <span *ngIf="approvalStatus === ''">{{moduleName}}</span>
                            </h3>
                        </div>
                    </div>
                    <!--<div class="m-portlet__head-tools" style="margin-right: -100px !important;">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-sm btn-success" (click)="openModal()">
                                        <i class="m-nav__link-icon flaticon-share"></i>
                                        <span class="m-nav__link-text">
                                        Create
                                    </span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-info btn-sm">Export Options</button>
                                    <!--<a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>-->
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <!--<li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export all pages to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to CSV
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">Export all pages to CSV</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="margin-approval">
                        <button *ngIf="booleans.authorizer || booleans.initiator" [ngClass]="approvalStatus === 'Approved' ? 'activeStatus': 'inactiveStatus'" class="btn btn-success"
                                (click)="getParam(approvalName+'/approved')">
                            Approved
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator" [ngClass]="approvalStatus === 'Pending' ? 'activeStatus': 'inactiveStatus'" class="btn btn-warning"
                                (click)="getParam(approvalName+'/pending')">
                            Pending
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator" [ngClass]="approvalStatus === 'Disapproved' ? 'activeStatus': 'inactiveStatus'" class="btn btn-danger"
                                (click)="getParam(approvalName+'/disapproved')">
                            Disapproved
                        </button>
                        <button class="btn btn-success float-right create-search-style" *ngIf="booleans.initiator && approvalStatus === ''"
                                (click)="openModal()">Create
                        </button>
                        <button class="btn btn-outline-primary float-right" (click)="getSearchModal()">Search</button>
                    </div>

                    <div class="page-size">
                        <select class="m-input" (change)="onChangePageSize($event)">
                            <option *ngFor="let data of pagesizeArray">{{data}}</option>
                        </select>
                        <span> records per page</span>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PSSP Name</th>
                            <th scope="col">RC Number</th>
                            <th scope="col">Account No.</th>
                            <th scope="col">Bank</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: pagesize,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.psspName}}</td>
                            <td>{{data?.rcNumber}}</td>
                            <td>{{data?.accountNumber}}</td>
                            <td>{{data?.bank?.name}}</td>
                            <td>{{data?.industry?.name}}</td>
                            <td>{{data?.createdAt | date}}</td>
                            <td *ngIf="booleans?.initiator && approvalStatus === ''">
                                <switch
                                        [status]="data?.activated"
                                        [onText]="data?.activated?'Active':'Inactive'"
                                        [offText]="data?.activated?'Active':'Inactive'"
                                        [onColor]="data?.activated?'green':'red'"
                                        [offColor]="data?.activated?'green':'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="toggle(data)">
                                </switch>
                            </td>
                            <td *ngIf="booleans.authorizer || !booleans.initiator || approvalStatus !== ''">
                                <label class="badge badge-danger" *ngIf="!data?.activated">Inactive</label>
                                <label class="badge badge-success" *ngIf="data?.activated">Active</label>
                            </td>
                            <td>
                                <button *ngIf="booleans.initiator && (approvalStatus === '' || (approvalStatus === 'Disapproved' && data?.authorizationStatus ==='CREATION_REJECTED'))" type="button"
                                        placement="bottom"
                                        ngbTooltip="Edit Detail" (click)="edit(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-success" ngbTooltip="Approve"
                                        placement="bottom" *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="approve(data?.id, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'approve' && data.id === id"></i>
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ngbTooltip="Reject" placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="getReason(data, data?.authorizationStatus)" [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'disapprove' && data.id === id"></i>
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <button type="button"
                                        ngbTooltip="View Detail"
                                        placement="bottom"
                                        (click)="view(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" placement="bottom" [routerLink]="'/pssp-user/'+data.id"
                                        ngbTooltip="View pssp user(s)" *ngIf="approvalStatus === ''"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-users"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading PSSP(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="(approvalStatus === '')?getPage($event): getApprovalPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>