<!--
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-padding">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><label><span class="compulsory-field">*</span>
                                    Email Address</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="email" autocomplete="off">
                                    <div *ngIf="(createForm.get('name').invalid && createForm.get('name').touched )"
                                         class="alert alert-danger text-center">
                                        Email is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="compulsory-field">*</span>
                                    First Name</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" autocomplete="off">
                                    <div *ngIf="(createForm.get('name').invalid && createForm.get('name').touched )"
                                         class="alert alert-danger text-center">
                                        First Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="compulsory-field">*</span>
                                    Last Name</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" autocomplete="off">
                                    <div *ngIf="(createForm.get('name').invalid && createForm.get('name').touched )"
                                         class="alert alert-danger text-center">
                                        Last Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="compulsory-field">*</span>
                                    Role</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <select class="form-control m-input" type="text" autocomplete="off">
                                        <option disabled>&#45;&#45;Select</option>
                                        <option>INITIATOR</option>
                                        <option>AUTHORIZER</option>
                                        <option>AUDITOR</option>
                                    </select>
                                    <div *ngIf="(createForm.get('name').invalid && createForm.get('name').touched )"
                                         class="alert alert-danger text-center">
                                        Role is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="compulsory-field">*</span>
                                    Status</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <div><input type="radio" name="status" autocomplete="off">&nbsp;&nbsp;&nbsp;Active</div>
                                    <div><input type="radio" name="status" autocomplete="off">&nbsp;&nbsp;&nbsp;In-active</div>


                                    <div *ngIf="(createForm.get('name').invalid && createForm.get('name').touched )"
                                         class="alert alert-danger text-center">
                                        Role is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createForm.invalid" (click)="insert()"
                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                    <span *ngIf="!booleans?.showUpdate"> Save </span>
                    <span *ngIf="booleans?.showUpdate"> Update </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title&#45;&#45;separator">
                {{moduleName}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav&#45;&#45;inline">
                <li class="m-nav__item m-nav__item&#45;&#45;home">
                    <a href="/index" class="m-nav__link m-nav__link&#45;&#45;icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet&#45;&#45;mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                All {{moduleName}}
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        &lt;!&ndash;<li class="m-nav__item">                                                            <a (click)="openModal()" class="m-nav__link cursor">                                                                <i class="m-nav__link-icon flaticon-share"></i>                                                                <span class="m-nav__link-text">																						Create																					</span>                                                            </a>                                                        </li>&ndash;&gt;
                                                        &lt;!&ndash;<li class="m-nav__item">                                                            <a href="" class="m-nav__link">                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>                                                                <span class="m-nav__link-text">																						Download Template																					</span>                                                            </a>                                                        </li>&ndash;&gt;
                                                        &lt;!&ndash;<li class="m-nav__item">                                                            <a href="" class="m-nav__link">                                                                <i class="m-nav__link-icon flaticon-multimedia-2"></i>                                                                <span class="m-nav__link-text">																						Upload Template																					</span>                                                            </a>                                                        </li>&ndash;&gt;
                                                        <li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export to pdf
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                <span class="m-nav__link-text">
																						Export to csv
																					</span>
                                                            </a>
                                                        </li>
                                                        &lt;!&ndash;<li class="m-nav__item">                                                            <a href="" class="m-nav__link">                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>                                                                <span class="m-nav__link-text">																						Export to excel																					</span>                                                            </a>                                                        </li>&ndash;&gt;
                                                        <li class="m-nav__separator m-nav__separator&#45;&#45;fit m&#45;&#45;hide"></li>
                                                        &lt;!&ndash;<li class="m-nav__item m&#45;&#45;hide">                                                            <a href="#"                                                               class="btn btn-outline-danger m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;wide btn-sm">                                                                Submit                                                            </a>                                                        </li>&ndash;&gt;
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="row">
                        <div class="col-md-7 col-sm-8 m-portlet__head-title float-left">
                            <div class="row m-portlet__head-text">
                                <button class="col-md-4 col-sm-4 col-lg-4 btn btn-success" routerLink="approved">
                                    Approved
                                </button>
                                <button class="col-md-4 col-sm-4 col-lg-4 btn btn-warning" routerLink="pending">
                                    Pending
                                </button>
                                <button class="col-md-4 col-sm-4 col-lg-4 btn btn-danger" routerLink="disapproved">
                                    Disapproved
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-4">
                            <div class=" input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Bank Account</th>
                            <th scope="col">Bank</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.name}}</td>
                            <td>{{data?.code}}</td>
                            <td>{{data?.phone}}</td>
                            <td>{{data?.bankAccountNumber}}</td>
                            <td>{{data?.bankCode}}</td>
                            <td>{{data?.emailAddress}}</td>
                            <td>
                                <switch
                                        [status]="'true'"
                                        [onText]="'Active'"
                                        [offText]="'Inactive'"
                                        [onColor]="'green'"
                                        [offColor]="'red'"
                                         [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="insertForm('toggle', data)">
                                </switch>
                            </td>
                            <td>
                                <button type="button" placement="bottom"
                                        class="btn btn-sm m-btn m-btn&#45;&#45;gradient-from-success m-btn&#45;&#45;gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" ngbTooltip="View"
                                        placement="bottom"
                                        class="btn btn-sm m-btn m-btn&#45;&#45;gradient-from-primary m-btn&#45;&#45;gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            &lt;!&ndash; <td colspan="9" class="text-center" *ngIf="booleans?.loader"><i
                                     class="fa fa-spinner fa-spin"></i> loading Institution(s)
                             </td>
                            &ndash;&gt;
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>-->
