
<div class="modal fade" id="Setupemandate" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>Emandate Setup</span>
                </h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormEmandate">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Username</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" type="text"
                                           placeholder="Username"
                                           formControlName="username"
                                           autocomplete="off">
                                    <div *ngIf="createFormEmandate.get('username').invalid && createFormEmandate.get('username').touched"
                                         class="alert alert-danger text-center">
                                        Username is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label><span class="star">*</span>Domain Name</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" type="text"
                                           placeholder="Domain Name"
                                           formControlName="domainName"
                                           autocomplete="off">
                                    <div *ngIf="createFormEmandate.get('domainName').invalid && createFormEmandate.get('domainName').touched"
                                         class="alert alert-danger text-center">
                                        Domain Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label>Notification Url</label>
                                </div>
                                <div class="form-group m-form__group col-md-8">
                                    <input class="form-control m-input" type="text"
                                           placeholder="Notification Url"
                                           formControlName="notificationUlr"
                                           autocomplete="off">
                                    <div *ngIf="createFormEmandate.get('notificationUlr').invalid && createFormEmandate.get('notificationUlr').touched"
                                         class="alert alert-danger text-center">
                                        Notification Url is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createFormEmandate.invalid" *ngIf="submit_type === 'Update'"
                        (click)="putEmandate()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>Edit Emandate
                </button>
                <button type="button" [disabled]="createFormEmandate.invalid" *ngIf="submit_type !== 'Update'"
                        (click)="createEmandate()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>Setup Emandate
                </button>
            </div>
        </div>
    </div>
</div>
