/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
tr, table tr td {
  height: 20px !important;
  padding: 8px 5px 5px 5px !important;
}

.cursor {
  cursor: pointer !important;
}

.modal_background_color {
  background-color: #ebedf2 !important;
}

.compulsory-field {
  color: #f12143 !important;
}

.star {
  color: #f12143 !important;
}

.modal-padding {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.modulename-style{
  font-size: 90% !important;
}

.amcharts-chart-div a {display:none !important;}

.create-search-style{
  margin-left: 5px;
}

.margin-approval {
  margin-bottom: 10px !important;
}

.activeStatus {
 padding: 1.3%  !important;
}

.page-size {
  margin: 1% !important;
}

.inactiveStatus{
  padding: 0.5% !important;
}