<!--Create Modal-->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>{{modal_title}}</span> User</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div formGroupName="name">
                                <div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>First&nbsp;Name</label>
                                    </div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text" placeholder="First Name"
                                               formControlName="firstName"
                                               autocomplete="off">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>Last&nbsp;Name</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text" placeholder="Last Name"
                                               formControlName="lastName"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label>Middle&nbsp;Name</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text" placeholder="Middle Name"
                                               formControlName="middleName"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Email</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Email"
                                           formControlName="emailAddress"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('emailAddress').invalid && createForm.get('emailAddress').touched"
                                         class="alert alert-danger text-center">
                                        Email is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Phone&nbsp;No
                                    {{createForm.get('phoneNumber').invalid}}</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Enter Phone Number"
                                           formControlName="phoneNumber"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('phoneNumber').invalid && createForm.get('phoneNumber').touched"
                                         class="alert alert-danger text-center">
                                        <span *ngIf="createForm?.value?.phoneNumber?.length > 0">Number is Required</span>
                                        <span *ngIf="createForm?.value?.phoneNumber?.length === 0">Phone Number is Required</span>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>User Authorisation Type</label>
                                </div>
                                <div class="form-group m-form__group col-md-9">
                                    <table class="table">
                                        <tr>
                                            <td><label>Authorizer</label></td>
                                            <td><input type="radio" placeholder="code"
                                                       formControlName="userAuthorisationType" [value]="'AUTHORIZER'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Operator</label></td>
                                            <td>
                                                <div class="form-group m-form__group">
                                                    <input type="radio" placeholder="code"
                                                           formControlName="userAuthorisationType" [value]="'OPERATOR'">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>-->

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Roles</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems"
                                                          [settings]="settings"
                                                          (onSelect)="onItemSelect($event)"
                                                          (onDeSelect)="OnItemDeSelect($event)"
                                                          (onSelectAll)="onSelectAll($event)"
                                                          (onDeSelectAll)="onDeSelectAll($event)"
                                                          formControlName="roleIds">
                                    </angular2-multiselect>
                                    <div class="alert alert-danger text-center" role="alert"
                                         *ngIf="!booleans?.loadRole && itemList?.length === 0">
                                        No Role Found
                                    </div>
                                    <div class="alert alert-warning" role="alert"
                                         *ngIf="booleans?.loadRole && itemList.length === 0"><i
                                            class="fa fa-spinner fa-spin"></i> Loading Role
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-6">

                            <div class="row">
                                <div class="col-md-3"><label>Street&nbsp;Address</label>
                                </div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Street Address"
                                           formControlName="streetName"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('streetName').invalid && createForm.get('streetName').touched"
                                         class="alert alert-danger text-center">
                                        Street Address is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label>City</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" placeholder="City"
                                           formControlName="city"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label>Country</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemListCountry"
                                                          [settings]="settingsCountry"
                                                          formControlName="country"
                                                          (onSelect)="onItemSelectCountry($event)"
                                                          (onDeSelect)="OnItemDeSelectCountry($event)"
                                                          (onSelectAll)="onSelectAllCountry($event)"
                                                          (onDeSelectAll)="onDeSelectAllCountry($event)">
                                    </angular2-multiselect>
                                    <div class="alert alert-danger text-center" role="alert"
                                         *ngIf="!booleans?.loadCountry && itemListCountry.length === 0">
                                        No Country Found
                                    </div>
                                    <div class="alert alert-warning" role="alert"
                                         *ngIf="booleans?.loadCountry && itemListCountry.length === 0"><i
                                            class="fa fa-spinner fa-spin"></i> Loading Country
                                    </div>
                                    <div class="alert alert-warning" role="alert"
                                         *ngIf="booleans?.loadState && itemListCountry.length > 0"><i
                                            class="fa fa-spinner fa-spin"></i> Loading State
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="itemListState?.length > 0">
                                <div class="col-md-3"><label>State</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemListState"
                                                          [settings]="settingsState"
                                                          formControlName="state"
                                                          (onSelect)="onItemSelectState($event)"
                                                          (onDeSelect)="OnItemDeSelectState($event)"
                                                          (onSelectAll)="onSelectAllState($event)"
                                                          (onDeSelectAll)="onDeSelectAllState($event)">
                                    </angular2-multiselect>
                                    <div class="alert alert-danger text-center" role="alert"
                                         *ngIf="!booleans?.loadLga && itemListState?.length === 0">
                                        No State Found
                                    </div>
                                    <div class="alert alert-warning" role="alert"
                                         *ngIf="booleans?.loadLga && itemListLga.length === 0"><i
                                            class="fa fa-spinner fa-spin"></i> Loading LGA
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="itemListLga?.length > 0">
                                <div class="col-md-3"><label>Lga</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemListLga"
                                                          [settings]="settingsLga"
                                                          formControlName="lga"
                                                          [(ngModel)]="lga"
                                                          (onSelect)="onItemSelectLga($event)"
                                                          (onDeSelect)="OnItemDeSelectLga($event)"
                                                          (onSelectAll)="onSelectAllLga($event)"
                                                          (onDeSelectAll)="onDeSelectAllLga($event)">
                                    </angular2-multiselect>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" *ngIf="submit_type==='Submit'" (click)="submit()" [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>
                <button type="button" *ngIf="submit_type==='Update'" (click)="update()" [disabled]="createForm.invalid"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadsubmit"></i>{{submit_type}}
                </button>

            </div>
        </div>
    </div>
</div>

<!--view Modal-->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal3">
                    <span>Reason For Disapproving</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <form [formGroup]='formReason'>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" formControlName="reason" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close" [disabled]="formReason.invalid"
                        (click)="disapprove()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadAction && approvalType === 'disapprove'"></i>
                    Disapprove
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!--Search Modal-->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal">
                    <span>Search</span> User</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFormSearch">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group m-form__group col-md-12">
                                    <div><label>Email</label></div>
                                    <input class="form-control m-input" placeholder="Enter Email" formControlName="email"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="form-group m-form__group col-md-12">
                                    <div><label>Role</label></div>
                                    <select class="form-control m-input" formControlName="role">
                                        <option value="">Select Role</option>
                                        <option *ngFor="let data of list?.searchRoles" [value]="data?.description">
                                            {{data?.name | removeUnderscore}}
                                        </option>
                                    </select>
                                    <div class="alert alert-warning" role="alert"
                                         *ngIf="booleans?.loadRole && itemRoleList.length === 0"><i
                                            class="fa fa-spinner fa-spin"></i> Loading Role
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="form-group m-form__group col-md-12">
                                    <div><label>Status</label></div>
                                    <select class="form-control m-input" formControlName="activated">
                                        <option value="">Select Status</option>
                                        <option value="true"> Active</option>
                                        <option value="false"> Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="form-group m-form__group col-md-12">
                                    <div><label>Date Created</label></div>
                                    <input class="form-control m-input" formControlName="createdAt" type="date"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" (click)="searchMethod(0)"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.loadingSearch"></i>Search
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <!--<button type="button" (click)="exportCsvSearch()"
                                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.csvsearchloader"></i>CSV Export
                                </button>
                                <button type="button" (click)="exportPdfSearch()"
                                        class="btn btn-success m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                                    <i class="fa fa-spinner fa-spin" *ngIf="booleans.pdfsearchloader"></i>PDF Export
                                </button>-->

            </div>
        </div>
    </div>
</div>

<!--view Modal-->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal2">
                    <span>{{modal_title}}</span> {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <table class="table table-striped">
                        <tr>
                            <td>Last Name</td>
                            <td>{{list.details?.name?.lastName}}</td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td>{{list.details?.name?.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Middle Name</td>
                            <td>{{list.details?.name?.middleName}}</td>
                        </tr>
                        <tr>
                            <td>Staff No.</td>
                            <td>{{list.details?.staffNumber}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{list.details?.emailAddress}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{list.details?.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td>Authorization Type</td>
                            <td>{{list.details?.makerCheckerType}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>
                                <div class="table-responsive">
                                    <table>
                                        <tr>
                                            <th>Name</th>
                                            <td>user type</td>
                                            <td>description</td>
                                            <td>Status</td>
                                        </tr>
                                        <tr *ngFor="let data of list.details?.roles">
                                            <td>{{data?.name | removeUnderscore}}</td>
                                            <td>{{data?.userType}}</td>
                                            <td>{{data?.description}}</td>
                                            <td>
                                                <label class="badge badge-danger"
                                                       *ngIf="!data?.activated">Inactive</label>
                                                <label class="badge badge-success"
                                                       *ngIf="data?.activated">Active</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{list.details?.contactDetails?.streetName}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{list.details?.contactDetails?.city}}</td>
                        </tr>
                        <tr>
                            <td>LGA</td>
                            <td>{{list.details?.contactDetails?.lga?.name}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{list.details?.contactDetails?.state?.name}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{list.details?.contactDetails?.country?.name}}</td>
                        </tr>
                        <tr>
                            <td>Date Created</td>
                            <td>{{list.details?.createdAt | date}}</td>
                        </tr>
                        <tr>
                            <td>Date Updated</td>
                            <td>{{list.details?.updatedAt | date}}</td>
                        </tr>
                        <tr *ngIf="approvalStatus !== ''">
                            <td>Authorization</td>
                            <td>{{list.details?.authorizationStatus | removeUnderscore | firstLetterTopUpperCase}}</td>
                        </tr>
                        <tr *ngIf="approvalStatus === 'Disapproved'">
                            <td>Reason</td>
                            <td>{{list.details?.reason}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator cursor" (click)="getNibss(0, pagesize)">
                Users
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{moduleName}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text cursor" (click)="getMainPage()">
                                <span *ngIf="approvalStatus !== ''">{{approvalStatus | transformtext}}</span> <span
                                    *ngIf="approvalStatus === ''">{{moduleName}}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                     data-dropdown-toggle="hover" aria-expanded="true">
                                    <button class="btn btn-info btn-sm">Export Options</button>
                                    <!--<a href="#"
                                       class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                    </a>-->
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <!--<li class="m-nav__section">
																				<span class="m-nav__section-text">
																					Export Options
																				</span>
                                                        </li>-->
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getPdf('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export all pages to PDF
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv()" *ngIf="list.allContent.length > 0">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
																						Export current page to CSV
																					</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getCsv('all')">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">Export all pages to CSV</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="margin-approval">
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Approved' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-success"
                                (click)="getParam(approvalName+'/approved')">
                            Approved
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Pending' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-warning"
                                (click)="getParam(approvalName+'/pending')">
                            Pending
                        </button>
                        <button *ngIf="booleans.authorizer || booleans.initiator"
                                [ngClass]="approvalStatus === 'Disapproved' ? 'activeStatus': 'inactiveStatus'"
                                class="btn btn-danger"
                                (click)="getParam(approvalName+'/disapproved')">
                            Disapproved
                        </button>
                        <button class="btn btn-success float-right create-search-style"
                                *ngIf="booleans.initiator && approvalStatus === ''"
                                (click)="openModal()">Create
                        </button>
                        <button class="btn btn-outline-primary float-right" (click)="getSearchModal()">Search</button>
                        <span class="m--font-bolder m--margin-right-5"
                              *ngIf="booleans?.searchStatus && searchItemLength > 0">
                                &nbsp;&nbsp;{{searchItemLength}} <span *ngIf="searchItemLength > 1">results</span><span
                                *ngIf="searchItemLength === 1">result</span> from search</span>
                        <div style="clear: both"></div>
                    </div>


                    <div class="page-size">
                        <select class="m-input" (change)="onChangePageSize($event)">
                            <option *ngFor="let data of pagesizeArray">{{data}}</option>
                        </select>
                        <span> records per page</span>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.name?.firstName | firstLetterTopUpperCase}}</td>
                            <td>{{data?.name?.lastName | firstLetterTopUpperCase}}</td>
                            <td>{{data?.emailAddress | lowercase}}</td>
                            <td>{{data?.roles[0]['name'] | transformtext | removeUnderscore}}</td>
                            <td>{{data?.createdAt | date}}</td>
                            <td *ngIf="booleans?.initiator && approvalStatus === ''
&& ((this.details['roles'][0] === 'NIBSS SUPER ADMIN INITIATOR' && (data?.roles[0]['name'] ==='NIBSS_AUTHORIZER' || data?.roles[0]['name'] ==='NIBSS_INITIATOR'))
                                        || (this.details['roles'][0] === 'NIBSS INITIATOR' && data?.roles[0]['name'] ==='NIBSS_USER'))">
                                <switch
                                        [status]="data?.activated"
                                        [onText]="data?.activated?'Active':'Inactive'"
                                        [offText]="data?.activated?'Active':'Inactive'"
                                        [onColor]="data?.activated?'green':'red'"
                                        [offColor]="data?.activated?'green':'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="toggle(data)">
                                </switch>
                            </td>
                            <td *ngIf="booleans.authorizer || !booleans.initiator || approvalStatus !== ''
                                        || ((this.details['roles'][0] === 'NIBSS INITIATOR' && (data?.roles[0]['name'] ==='NIBSS_AUTHORIZER' || data?.roles[0]['name'] ==='NIBSS_INITIATOR'))
                                        || (this.details['roles'][0] === 'NIBSS SUPER ADMIN INITIATOR' && data?.roles[0]['name'] ==='NIBSS_USER'))">
                                <label class="badge badge-danger" *ngIf="!data?.activated">Inactive</label>
                                <label class="badge badge-success" *ngIf="data?.activated">Active</label>
                            </td>
                            <td>
                                <button *ngIf="booleans.initiator && (approvalStatus === '' || (approvalStatus === 'Disapproved' && data?.authorizationStatus ==='CREATION_REJECTED'))
                                        && ((this.details['roles'][0] === 'NIBSS SUPER ADMIN INITIATOR' && (data?.roles[0]['name'] ==='NIBSS_AUTHORIZER' || data?.roles[0]['name'] ==='NIBSS_INITIATOR'))
                                        || (this.details['roles'][0] === 'NIBSS INITIATOR' && data?.roles[0]['name'] ==='NIBSS_USER'))"
                                        type="button"
                                        placement="bottom"
                                        ngbTooltip="Edit Detail" (click)="edit(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-success" ngbTooltip="Approve"
                                        placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer
                                        && ((this.details['roles'][0] === 'NIBSS SUPER ADMIN AUTHORIZER' && (data?.roles[0]['name'] ==='NIBSS_AUTHORIZER' || data?.roles[0]['name'] ==='NIBSS_INITIATOR'))
                                        || (this.details['roles'][0] === 'NIBSS AUTHORIZER' && data?.roles[0]['name'] ==='NIBSS_USER'))"
                                        (click)="approve(data?.id, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'approve' && data.id === id"></i>
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ngbTooltip="Reject" placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer
                                        && ((this.details['roles'][0] === 'NIBSS SUPER ADMIN AUTHORIZER' && (data?.roles[0]['name'] ==='NIBSS_AUTHORIZER' || data?.roles[0]['name'] ==='NIBSS_INITIATOR'))
                                        || (this.details['roles'][0] === 'NIBSS AUTHORIZER' && data?.roles[0]['name'] ==='NIBSS_USER'))"
                                        (click)="getReason(data, data?.authorizationStatus)"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'disapprove' && data.id === id"></i>
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <button type="button"
                                        ngbTooltip="View Detail"
                                        placement="bottom"
                                        (click)="view(data)"
                                        class="btn btn-sm m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading content
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls
                            (pageChange)="(approvalStatus === '')?getPage($event): getApprovalPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>