<!--view Modal-->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal3">
                    <span>Reason For Disapproving</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <form [formGroup]='form'>
                        <div class="form-group">
                            <label>Reason</label>
                            <select class="form-control" formControlName="rejectionId">
                                <option></option>
                                <option *ngFor="let reason of list?.rejectionReason" [value]="reason?.id">
                                    {{reason?.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Comment</label>
                            <textarea class="form-control" formControlName="comment" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close" [disabled]="form.invalid"
                        (click)="disapprove()"
                        class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadAction && approvalType === 'disapprove'"></i> Disapprove
                </button>
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!--view Modal-->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_background_color">
                <h3 class="modal-title" id="Modal2">Mandate Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" *ngIf="list.details">
                    <table class="table table-striped">
                        <tr>
                            <td>Mandate Code</td>
                            <td>{{list.details?.mandateCode}}</td>
                        </tr>
                        <tr>
                            <td>Mandate Type</td>
                            <td>{{list.details?.mandateType}}</td>
                        </tr>
                        <tr>
                            <td>Mandate Narration</td>
                            <td>{{list.details?.narration}}</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>{{list.details?.accountName}}</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>{{list.details?.accountNumber}}</td>
                        </tr>
                        <tr>
                            <td>BVN</td>
                            <td>{{list.details?.bvn}}</td>
                        </tr>
                        <tr>
                            <td>Bank</td>
                            <td>{{list.details?.bank?.name}}</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{list.details?.amount}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{list.details?.email}}</td>
                        </tr>
                        <tr>
                            <td>Payer Name</td>
                            <td>{{list.details?.payerName}}</td>
                        </tr>
                        <tr>
                            <td>Payer Address</td>
                            <td>{{list.details?.payerAddress}}</td>
                        </tr>
                        <tr>
                            <td>Product</td>
                            <td>{{list.details?.product?.name}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{list.details?.status?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{list.details?.status?.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mail Description</td>
                                        <td>{{list.details?.status?.mailDescription}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr *ngIf="list.details?.rejection">
                            <td>Rejection Reason</td>
                            <td>{{list.details?.rejection?.rejectionReason?.description}}</td>
                        </tr>
                        <tr *ngIf="list.details?.rejection">
                            <td>Rejection Comment</td>
                            <td>{{list.details?.rejection?.comment}}</td>
                        </tr>
                        <tr>
                            <td>Subscriber Code</td>
                            <td>{{list.details?.subscriberCode}}</td>
                        </tr>
                        <tr>
                            <td>Work-Flow Status</td>
                            <td>{{list.details?.workflowStatus}}</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>{{list.details?.startDate}}</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>{{list.details?.endDate}}</td>
                        </tr>
                        <tr>
                            <td>Authorized Date</td>
                            <td>{{list.details?.dateAuthorized}}</td>
                        </tr>
                        <tr>
                            <td>Suspended Date</td>
                            <td>{{list.details?.dateSuspended}}</td>
                        </tr>
                        <tr>
                            <td>Date Created</td>
                            <td>{{list.details?.created_at}}</td>
                        </tr>
                        <tr>
                            <td>Date Updated</td>
                            <td>{{list.details?.updated_at}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer modal_background_color">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Mandates
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{approvalStatus}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile ">


                <div class="m-portlet__body table-responsive">
                    <div class="row">
                        <div class="col-md-7 col-sm-8 m-portlet__head-title float-left">
                            <div class="row m-portlet__head-text" *ngIf="booleans.authorizer">
                                <button class="col-md-3 col-sm-4 col-lg-3 btn btn-success"
                                        (click)="getParam('mandate/approved')">
                                    Approved
                                </button>
                                <button class="col-md-3 col-sm-4 col-lg-3 btn btn-warning"
                                        (click)="getParam('mandate/pending')">
                                    Pending
                                </button>
                                <button class="col-md-3 col-sm-4 col-lg-3 btn btn-info"
                                        (click)="getParam('mandate/suspended')">
                                    Suspended
                                </button>
                                <button class="col-md-3 col-sm-4 col-lg-3 btn btn-danger"
                                        (click)="getParam('mandate/disapproved')">
                                    Disapproved
                                </button>
                            </div>
                        </div>

                    </div>
                    <br>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mandate Code</th>
                            <th scope="col">Mandate Type</th>
                            <th scope="col">Email</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Work-flow Status</th>
                            <th scope="col" *ngIf="booleans.authorizer && details['roles'][0] === 'BANK INITIATOR'">Status</th>

                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.mandateCode}}</td>
                            <td>{{data?.mandateType}}</td>
                            <td>{{data?.email}}</td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.workflowStatus}}</td>
                            <td *ngIf="booleans.authorizer && details['roles'][0] === 'BANK INITIATOR'">
                                <switch
                                        [status]="(data?.requestStatus === 1)? true: false"
                                        [onText]="'Active'"
                                        [offText]="'Inactive'"
                                        [onColor]="'green'"
                                        [offColor]="'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="(data?.requestStatus === 1)?performShowAction(data?.id, 2):performShowAction(data?.id, 1)">
                                </switch>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success" ngbTooltip="Approve Mandate"
                                        placement="bottom" *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="approve(data?.id, 'approve')"
                                        [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'approve' && data.id === id"></i>
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ngbTooltip="Reject Mandate" placement="bottom"
                                        *ngIf="approvalStatus === 'Pending' && booleans.authorizer"
                                        (click)="getReason(data)" [disabled]="booleans.loadAction && data.id === id">
                                    <i class="fa fa-spin fa-spinner"
                                       *ngIf="booleans?.loadAction && approvalType === 'disapprove' && data.id === id"></i>
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <button type="button" ngbTooltip="View Mandate" (click)="view(data)"
                                        placement="bottom"
                                        class="btn btn-sm m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center"
                                *ngIf="booleans?.loader && list?.allContent.length === 0"><i
                                    class="fa fa-spinner fa-spin"></i> loading Mandate(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>